home-assistant/313a/node-red/flows.json
[
    {
        "id": "4fbab168.208e3",
        "type": "tab",
        "label": "Garage Door",
        "disabled": false,
        "info": ""
    },
    {
        "id": "10eab06d.5f8d9",
        "type": "tab",
        "label": "Sprinklers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7aa3b3cf.331f14",
        "type": "tab",
        "label": "Blinds",
        "disabled": false,
        "info": ""
    },
    {
        "id": "449256ad.414748",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "2005da1d.48ceee",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "42c9b349.4b3b44",
        "type": "api-call-service",
        "z": "4fbab168.208e3",
        "name": "Notify",
        "server": "449256ad.414748",
        "version": 1,
        "service_domain": "notify",
        "service": "telegram",
        "entityId": "",
        "data": "{\"message\":\"The garage door is open and no one is home\",\"data\":{\"inline_keyboard\":[\"Close Garage:/close-garage\"]}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1061.5,
        "y": 243,
        "wires": [
            []
        ]
    },
    {
        "id": "e98a27f.090da58",
        "type": "inject",
        "z": "4fbab168.208e3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 161.5,
        "y": 240,
        "wires": [
            [
                "dbb24013.00fa68",
                "77c36abe.3025c4"
            ]
        ]
    },
    {
        "id": "26006408.4d64a4",
        "type": "trigger-state",
        "z": "4fbab168.208e3",
        "name": "garage opened",
        "server": "449256ad.414748",
        "entityid": "cover.garage_door",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "itp7ufy7k6m",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "open"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 143.5,
        "y": 171,
        "wires": [
            [
                "55b2fbce.71f14c"
            ],
            []
        ]
    },
    {
        "id": "55b2fbce.71f14c",
        "type": "delay",
        "z": "4fbab168.208e3",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 339.5,
        "y": 146,
        "wires": [
            [
                "dbb24013.00fa68",
                "77c36abe.3025c4"
            ]
        ]
    },
    {
        "id": "dbb24013.00fa68",
        "type": "api-current-state",
        "z": "4fbab168.208e3",
        "name": "family home",
        "server": "449256ad.414748",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "group.family",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 510.5,
        "y": 222,
        "wires": [
            [
                "9a1cc5cc.5f226"
            ]
        ]
    },
    {
        "id": "8c64448d.e44a88",
        "type": "switch",
        "z": "4fbab168.208e3",
        "name": "open & not home?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.'cover.garage' = 'open' and payload.'group.all_devices' = 'not_home'",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 859.5,
        "y": 249,
        "wires": [
            [
                "42c9b349.4b3b44"
            ],
            []
        ]
    },
    {
        "id": "77c36abe.3025c4",
        "type": "api-current-state",
        "z": "4fbab168.208e3",
        "name": "garage state",
        "server": "449256ad.414748",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "cover.garage_door",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 511.5,
        "y": 271,
        "wires": [
            [
                "9a1cc5cc.5f226"
            ]
        ]
    },
    {
        "id": "9a1cc5cc.5f226",
        "type": "join",
        "z": "4fbab168.208e3",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 689.5,
        "y": 251,
        "wires": [
            [
                "8c64448d.e44a88",
                "9fdbd493.66f538"
            ]
        ]
    },
    {
        "id": "ff560838.890d3",
        "type": "inject",
        "z": "4fbab168.208e3",
        "name": "11pm Daily",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 159.5,
        "y": 486,
        "wires": [
            [
                "930d970f.46b4b8"
            ]
        ]
    },
    {
        "id": "930d970f.46b4b8",
        "type": "api-current-state",
        "z": "4fbab168.208e3",
        "name": "garage state",
        "server": "449256ad.414748",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "cover.garage_door",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 504,
        "y": 486,
        "wires": [
            [
                "d2b6ed41.b893a8"
            ]
        ]
    },
    {
        "id": "90d7c0e3.902c5",
        "type": "trigger-state",
        "z": "10eab06d.5f8d9",
        "name": "Sunset",
        "server": "449256ad.414748",
        "entityid": "sun.sun",
        "debugenabled": false,
        "constraints": [
            {
                "id": "udjqiq5ugya",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "above_horizon"
            },
            {
                "id": "12pg1iei9c8",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "below_horizon"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "x": 127.5,
        "y": 99,
        "wires": [
            [
                "47350584.98ab9c",
                "7d10df92.29c3e"
            ],
            []
        ]
    },
    {
        "id": "755a7866.b294a",
        "type": "inject",
        "z": "10eab06d.5f8d9",
        "name": "Daily at 23:00",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 146.5,
        "y": 221,
        "wires": [
            [
                "1028732e.1d2e5d",
                "73af4fb8.be3d38"
            ]
        ]
    },
    {
        "id": "47350584.98ab9c",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Tree Lights (on)",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_tree_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 380.5,
        "y": 134,
        "wires": [
            []
        ]
    },
    {
        "id": "1028732e.1d2e5d",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Tree Lights (off)",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.sprinkle_tree_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 383,
        "y": 221,
        "wires": [
            []
        ]
    },
    {
        "id": "7b4e7cb.ba43004",
        "type": "inject",
        "z": "10eab06d.5f8d9",
        "name": "Tue, Fri, Sun at 07:30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 07 * * 2,5,0",
        "once": false,
        "onceDelay": 0.1,
        "x": 152,
        "y": 381,
        "wires": [
            [
                "62e81e7a.b325a8",
                "24bc3124.f525b6"
            ]
        ]
    },
    {
        "id": "62e81e7a.b325a8",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Back Yard Sprinklers (on)",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_back_yard",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 408.5,
        "y": 381,
        "wires": [
            []
        ]
    },
    {
        "id": "c0ff51cf.cf806",
        "type": "inject",
        "z": "10eab06d.5f8d9",
        "name": "Tue, Fri, Sun at 7:00",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 07 * * 2,5,0",
        "once": false,
        "onceDelay": 0.1,
        "x": 154,
        "y": 543,
        "wires": [
            [
                "9f71690b.d688e8",
                "b4ff735f.a0fab",
                "8f97b93d.a9dbf"
            ]
        ]
    },
    {
        "id": "9f71690b.d688e8",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Herbs (on)",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_herbs",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 370.5,
        "y": 544,
        "wires": [
            []
        ]
    },
    {
        "id": "b4ff735f.a0fab",
        "type": "delay",
        "z": "10eab06d.5f8d9",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 370.5,
        "y": 600,
        "wires": [
            [
                "9e27577e.402098"
            ]
        ]
    },
    {
        "id": "9e27577e.402098",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Lavender (on)",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_lavender",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 561,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "77b960a2.457fc8",
        "type": "comment",
        "z": "7aa3b3cf.331f14",
        "name": "Family & Kitch up 6.15am",
        "info": "",
        "x": 170.5,
        "y": 46,
        "wires": []
    },
    {
        "id": "1a466883.8e1b9f",
        "type": "comment",
        "z": "7aa3b3cf.331f14",
        "name": "Family & Kitch Part Down 8:30pm",
        "info": "",
        "x": 178,
        "y": 205,
        "wires": []
    },
    {
        "id": "121682cf.25a785",
        "type": "comment",
        "z": "7aa3b3cf.331f14",
        "name": "Family & Kitch Down all 11pm",
        "info": "",
        "x": 151,
        "y": 369,
        "wires": []
    },
    {
        "id": "bde3e657.3b144",
        "type": "comment",
        "z": "7aa3b3cf.331f14",
        "name": "Up-Hall Blockout Down 7:00pm",
        "info": "",
        "x": 157.5,
        "y": 676,
        "wires": []
    },
    {
        "id": "137b8427.a423ec",
        "type": "inject",
        "z": "7aa3b3cf.331f14",
        "name": "Daily at 6:15am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "15 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 152.5,
        "y": 96,
        "wires": [
            [
                "98d0d45.ff80d28",
                "f9c85f77.7a2138"
            ]
        ]
    },
    {
        "id": "4923c281.82da14",
        "type": "inject",
        "z": "7aa3b3cf.331f14",
        "name": "Daily at 8:30pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 254,
        "wires": [
            [
                "892eb9a5.a6b49",
                "2dac2889.1719e8"
            ]
        ]
    },
    {
        "id": "5503ad90.1e1714",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "",
        "server": "449256ad.414748",
        "version": 1,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.kitchen_back, cover.kitchen_front",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 649,
        "y": 418,
        "wires": [
            []
        ]
    },
    {
        "id": "4d87abd5.bca1dc",
        "type": "inject",
        "z": "7aa3b3cf.331f14",
        "name": "Daily at 11:00pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 415,
        "wires": [
            [
                "b62e6873.be8a18",
                "5503ad90.1e1714"
            ]
        ]
    },
    {
        "id": "9fdbd493.66f538",
        "type": "debug",
        "z": "4fbab168.208e3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 840.5,
        "y": 307,
        "wires": []
    },
    {
        "id": "68b4617f.ee2008",
        "type": "comment",
        "z": "4fbab168.208e3",
        "name": "Wait 2min to ensure that family devices connect to wifi",
        "info": "",
        "x": 478.5,
        "y": 98,
        "wires": []
    },
    {
        "id": "1c6174ac.2af393",
        "type": "server-events",
        "z": "4fbab168.208e3",
        "name": "",
        "server": "449256ad.414748",
        "event_type": "",
        "x": 177.5,
        "y": 672,
        "wires": [
            [
                "73cb848b.c4f42c"
            ]
        ]
    },
    {
        "id": "73cb848b.c4f42c",
        "type": "switch",
        "z": "4fbab168.208e3",
        "name": "Telegram Callback?",
        "property": "payload.event_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "telegram_callback",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 443.5,
        "y": 672,
        "wires": [
            [
                "4b0a52cf.03593c"
            ]
        ]
    },
    {
        "id": "2ccc59ff.1c990e",
        "type": "switch",
        "z": "4fbab168.208e3",
        "name": "",
        "property": "payload.event.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/close-garage",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 682.5,
        "y": 671,
        "wires": [
            [
                "51f70b5d.aecd04"
            ]
        ]
    },
    {
        "id": "7d9fbffc.313de",
        "type": "api-call-service",
        "z": "4fbab168.208e3",
        "name": "Close Garage",
        "server": "449256ad.414748",
        "version": 1,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.garage_door",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1204.5,
        "y": 664,
        "wires": [
            []
        ]
    },
    {
        "id": "51f70b5d.aecd04",
        "type": "api-current-state",
        "z": "4fbab168.208e3",
        "name": "garage state",
        "server": "449256ad.414748",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "cover.garage_door",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 843,
        "y": 671,
        "wires": [
            [
                "d4950b21.521ae8"
            ]
        ]
    },
    {
        "id": "d4950b21.521ae8",
        "type": "switch",
        "z": "4fbab168.208e3",
        "name": "open?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1013,
        "y": 671,
        "wires": [
            [
                "7d9fbffc.313de",
                "ecbed904.d4997"
            ],
            [
                "bdc368b4.f873c8"
            ]
        ]
    },
    {
        "id": "d2b6ed41.b893a8",
        "type": "switch",
        "z": "4fbab168.208e3",
        "name": "open?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 694.5,
        "y": 486,
        "wires": [
            [
                "156d1c5d.e7c544"
            ]
        ]
    },
    {
        "id": "2dac2889.1719e8",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "",
        "server": "449256ad.414748",
        "version": 1,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.kitchen_front_4_right, cover.kitchen_front_2_door_left, cover.kitchen_front_1_left, cover.kitchen_back_left",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 661,
        "y": 254,
        "wires": [
            []
        ]
    },
    {
        "id": "f9c85f77.7a2138",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "",
        "server": "449256ad.414748",
        "version": 1,
        "service_domain": "cover",
        "service": "open_cover",
        "entityId": "cover.kitchen_front_3_door_right, cover.kitchen_front_2_door_left, cover.kitchen_front_1_left, cover.kitchen_back",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 665,
        "y": 96,
        "wires": [
            []
        ]
    },
    {
        "id": "8eaa7aae.e3db8",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.upstairs_hall_blockout",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 645,
        "y": 728,
        "wires": [
            []
        ]
    },
    {
        "id": "d9748846.dcea78",
        "type": "inject",
        "z": "7aa3b3cf.331f14",
        "name": "Daily at 7pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 19 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 137,
        "y": 727,
        "wires": [
            [
                "8eaa7aae.e3db8",
                "50fb1d26.f329d4"
            ]
        ]
    },
    {
        "id": "c229090f.8b78f8",
        "type": "inject",
        "z": "4fbab168.208e3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 892.5,
        "y": 186,
        "wires": [
            [
                "42c9b349.4b3b44"
            ]
        ]
    },
    {
        "id": "440fa2f5.f2d82c",
        "type": "api-call-service",
        "z": "4fbab168.208e3",
        "name": "Notify",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "telegram_bot",
        "service": "answer_callback_query",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1325,
        "y": 599,
        "wires": [
            []
        ]
    },
    {
        "id": "ecbed904.d4997",
        "type": "template",
        "z": "4fbab168.208e3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"Closing the door...\",\n        \"callback_query_id\": \"{{ flow.callback_event_id }}\"\n    }\n}",
        "output": "json",
        "x": 1189.5,
        "y": 599,
        "wires": [
            [
                "440fa2f5.f2d82c"
            ]
        ]
    },
    {
        "id": "25b1738a.789714",
        "type": "api-call-service",
        "z": "4fbab168.208e3",
        "name": "Notify",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "telegram_bot",
        "service": "answer_callback_query",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1348,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "bdc368b4.f873c8",
        "type": "template",
        "z": "4fbab168.208e3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"The door is already closed.\",\n        \"callback_query_id\": \"{{ flow.callback_event_id }}\"\n    }\n}",
        "output": "json",
        "x": 1185.5,
        "y": 719,
        "wires": [
            [
                "25b1738a.789714"
            ]
        ]
    },
    {
        "id": "4b0a52cf.03593c",
        "type": "change",
        "z": "4fbab168.208e3",
        "name": "set flow.callback_event_id",
        "rules": [
            {
                "t": "set",
                "p": "callback_event_id",
                "pt": "flow",
                "to": "payload.event.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 584.5,
        "y": 612,
        "wires": [
            [
                "2ccc59ff.1c990e"
            ]
        ]
    },
    {
        "id": "156d1c5d.e7c544",
        "type": "api-call-service",
        "z": "4fbab168.208e3",
        "name": "Notify",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "notify",
        "service": "telegram",
        "entityId": "",
        "data": "{\"message\":\"It is after 11pm and it appears the garage door is still open\",\"data\":{\"inline_keyboard\":[\"Close Garage:/close-garage\"]}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 884,
        "y": 486,
        "wires": [
            []
        ]
    },
    {
        "id": "25f8aba0.ab8f74",
        "type": "inject",
        "z": "4fbab168.208e3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 688,
        "y": 433,
        "wires": [
            [
                "156d1c5d.e7c544"
            ]
        ]
    },
    {
        "id": "73af4fb8.be3d38",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn tree lights off at 22:30\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 382,
        "y": 265,
        "wires": [
            []
        ]
    },
    {
        "id": "7d10df92.29c3e",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn tree lights on at sunset\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 381,
        "y": 95,
        "wires": [
            []
        ]
    },
    {
        "id": "24bc3124.f525b6",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn on backyard sprinklers at 9am\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 378,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8f97b93d.a9dbf",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Water herbs & lavender at 10am\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 380,
        "y": 651,
        "wires": [
            []
        ]
    },
    {
        "id": "b62e6873.be8a18",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Family & Kitch Down all 10pm\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 347,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "892eb9a5.a6b49",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Family & Kitch Part Down 5:30pm\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 346,
        "y": 299,
        "wires": [
            []
        ]
    },
    {
        "id": "98d0d45.ff80d28",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"Automation Started\",\"message\":\"Family & Kitch up 6.15am\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 351,
        "y": 133,
        "wires": [
            []
        ]
    },
    {
        "id": "50fb1d26.f329d4",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Up-Hall Blockout Down 5.30pm\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 358,
        "y": 763,
        "wires": [
            []
        ]
    },
    {
        "id": "69c954fa.c3de64",
        "type": "comment",
        "z": "10eab06d.5f8d9",
        "name": "Turn tree lights on at sunset",
        "info": "",
        "x": 167.5,
        "y": 52,
        "wires": []
    },
    {
        "id": "89d0f802.6624",
        "type": "comment",
        "z": "10eab06d.5f8d9",
        "name": "Turn tree lights off at 23:00",
        "info": "",
        "x": 156,
        "y": 177,
        "wires": []
    },
    {
        "id": "a6540f9c.97c718",
        "type": "comment",
        "z": "10eab06d.5f8d9",
        "name": "Turn on backyard sprinklers at 7:30am",
        "info": "",
        "x": 189.5,
        "y": 335,
        "wires": []
    },
    {
        "id": "1dda7653.c88882",
        "type": "comment",
        "z": "10eab06d.5f8d9",
        "name": "Water herbs & lavender at 7am",
        "info": "",
        "x": 177.5,
        "y": 493,
        "wires": []
    },
    {
        "id": "b0518fb0.543558",
        "type": "inject",
        "z": "10eab06d.5f8d9",
        "name": "Daily at 13:00",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 13 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 123,
        "y": 765,
        "wires": [
            []
        ]
    },
    {
        "id": "47f46acf.5bb8cc",
        "type": "comment",
        "z": "10eab06d.5f8d9",
        "name": "Water herbs & lavender at 1pm if it is hot",
        "info": "",
        "x": 193,
        "y": 719,
        "wires": []
    },
    {
        "id": "ad4b6d82.d26db8",
        "type": "switch",
        "z": "10eab06d.5f8d9",
        "name": "> 27ยบ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "29",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760.5,
        "y": 765,
        "wires": [
            [
                "1d63e9ad.05557e",
                "a6bd005a.3494b",
                "e1340f39.c4669"
            ]
        ]
    },
    {
        "id": "1d63e9ad.05557e",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Water herbs & lavender at 3pm when it is hot\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 963,
        "y": 762,
        "wires": [
            []
        ]
    },
    {
        "id": "a6bd005a.3494b",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Herbs (on)",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_herbs",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 953,
        "y": 816,
        "wires": [
            []
        ]
    },
    {
        "id": "e1340f39.c4669",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Notify",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "notify",
        "service": "telegram",
        "entityId": "",
        "data": "{\"message\":\"It's hot today, so I am giving the herbs some extra water\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 931,
        "y": 870,
        "wires": [
            []
        ]
    },
    {
        "id": "8e53d47a.bb51c8",
        "type": "api-get-history",
        "z": "10eab06d.5f8d9",
        "name": "Get Temperature History",
        "server": "449256ad.414748",
        "startdate": "",
        "enddate": "",
        "entityid": "sensor.bom_sydney_airport_air_temp_c",
        "entityidtype": "is",
        "x": 349.5,
        "y": 765,
        "wires": [
            [
                "a04fbc62.2371f"
            ]
        ]
    },
    {
        "id": "a04fbc62.2371f",
        "type": "function",
        "z": "10eab06d.5f8d9",
        "name": "Get Max Temperature",
        "func": "return {\n    payload: Math.max(...msg.payload[0].map(v => Number(v.state)))\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 581.5,
        "y": 765,
        "wires": [
            [
                "ad4b6d82.d26db8"
            ]
        ]
    },
    {
        "id": "7eb0d335.75dbe4",
        "type": "trigger-state",
        "z": "10eab06d.5f8d9",
        "name": "Herbs State Unavailable",
        "server": "449256ad.414748",
        "entityid": "switch.sprinkle_herbs_trigger",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "68d543ea22u",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unavailable"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 148.5,
        "y": 943,
        "wires": [
            [
                "7fb83500.1bb2dc"
            ],
            []
        ]
    },
    {
        "id": "d689bb92.e3dec8",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Notify",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "notify",
        "service": "telegram",
        "entityId": "",
        "data": "{\"message\":\"The sprinklers are unavailable and probably requires a reboot. No plants will be watered until this occurs.\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 929,
        "y": 942,
        "wires": [
            []
        ]
    },
    {
        "id": "319c9349.a6c984",
        "type": "trigger-state",
        "z": "10eab06d.5f8d9",
        "name": "Herbs State Available",
        "server": "449256ad.414748",
        "entityid": "switch.sprinkle_herbs_trigger",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ch9g6a1ww46",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unavailable"
            },
            {
                "id": "l5jqnndjkh",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unavailable"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 138,
        "y": 996,
        "wires": [
            [
                "5029044e.6178ec"
            ],
            []
        ]
    },
    {
        "id": "b4332737.9b24a8",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Notify",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "notify",
        "service": "telegram",
        "entityId": "",
        "data": "{\"message\":\"The sprinklers are back online\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 745,
        "y": 1032,
        "wires": [
            []
        ]
    },
    {
        "id": "39d82038.8b1ea8",
        "type": "comment",
        "z": "10eab06d.5f8d9",
        "name": "Notify on sprinkler unavailable",
        "info": "",
        "x": 151,
        "y": 883,
        "wires": []
    },
    {
        "id": "28013df4.95dd32",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "cover",
        "service": "open_cover",
        "entityId": "cover.master_front_left, cover.master_front_right",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 637,
        "y": 891,
        "wires": [
            []
        ]
    },
    {
        "id": "120eb754.299f91",
        "type": "inject",
        "z": "7aa3b3cf.331f14",
        "name": "Daily at 8am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 129,
        "y": 890,
        "wires": [
            [
                "28013df4.95dd32",
                "f459f47c.7cef68"
            ]
        ]
    },
    {
        "id": "f459f47c.7cef68",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"Automation Started\",\"message\":\"Master Bedroom Blinds Up 8am\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 350,
        "y": 926,
        "wires": [
            []
        ]
    },
    {
        "id": "19cb6f22.5d9ff9",
        "type": "comment",
        "z": "7aa3b3cf.331f14",
        "name": "Open Master Bedroom blinds at 8am",
        "info": "",
        "x": 177,
        "y": 838,
        "wires": []
    },
    {
        "id": "6891c8d1.3b0b4",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.master_front_left, cover.master_front_right",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 642,
        "y": 1046,
        "wires": [
            []
        ]
    },
    {
        "id": "bfa71bf5.be0538",
        "type": "inject",
        "z": "7aa3b3cf.331f14",
        "name": "Daily at 9pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 134,
        "y": 1045,
        "wires": [
            [
                "6891c8d1.3b0b4",
                "6f3cf273.290d14"
            ]
        ]
    },
    {
        "id": "6f3cf273.290d14",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"Automation Started\",\"message\":\"Master Bedroom Blinds Down 9pm\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 355,
        "y": 1081,
        "wires": [
            []
        ]
    },
    {
        "id": "b64406c5.5eab1",
        "type": "comment",
        "z": "7aa3b3cf.331f14",
        "name": "Close Master Bedroom blinds at 9pm",
        "info": "",
        "x": 182,
        "y": 993,
        "wires": []
    },
    {
        "id": "7fb83500.1bb2dc",
        "type": "delay",
        "z": "10eab06d.5f8d9",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 380.5,
        "y": 944,
        "wires": [
            [
                "634df561.d60c9c"
            ]
        ]
    },
    {
        "id": "634df561.d60c9c",
        "type": "api-current-state",
        "z": "10eab06d.5f8d9",
        "name": "",
        "server": "449256ad.414748",
        "version": "1",
        "outputs": 2,
        "halt_if": "unavailable",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "entity_id": "switch.sprinkle_herbs_trigger",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 644.5,
        "y": 947,
        "wires": [
            [],
            [
                "d689bb92.e3dec8",
                "6279fdd4.06287c"
            ]
        ]
    },
    {
        "id": "6279fdd4.06287c",
        "type": "function",
        "z": "10eab06d.5f8d9",
        "name": "sprinkle_unavailable_notified = true",
        "func": "flow.set('sprinkle_unavailable_notified', true)",
        "outputs": 1,
        "noerr": 0,
        "x": 1025,
        "y": 994,
        "wires": [
            []
        ]
    },
    {
        "id": "5029044e.6178ec",
        "type": "switch",
        "z": "10eab06d.5f8d9",
        "name": "sprinkle_unavailable_notified == true",
        "property": "sprinkle_unavailable_notified",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 468.5,
        "y": 995,
        "wires": [
            [
                "b4332737.9b24a8",
                "df486135.22269"
            ]
        ]
    },
    {
        "id": "df486135.22269",
        "type": "function",
        "z": "10eab06d.5f8d9",
        "name": "sprinkle_unavailable_notified = false",
        "func": "flow.set('sprinkle_unavailable_notified', false)",
        "outputs": 1,
        "noerr": 0,
        "x": 843,
        "y": 1083,
        "wires": [
            []
        ]
    },
    {
        "id": "5fa5b2b8.8bc144",
        "type": "comment",
        "z": "7aa3b3cf.331f14",
        "name": "Up-Hall Blockout Open 7.30am - Disabled for summer",
        "info": "",
        "x": 230.5,
        "y": 536,
        "wires": []
    },
    {
        "id": "c7c7f362.b91f48",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "cover",
        "service": "open_cover",
        "entityId": "cover.upstairs_hall_blockout",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 641,
        "y": 586,
        "wires": [
            []
        ]
    },
    {
        "id": "7a8cbbc9.7d8d94",
        "type": "inject",
        "z": "7aa3b3cf.331f14",
        "name": "Daily at 07:30am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 143,
        "y": 585,
        "wires": [
            []
        ]
    },
    {
        "id": "53ffbfc.df20ec",
        "type": "api-call-service",
        "z": "7aa3b3cf.331f14",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": "1",
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Up-Hall Blockout Open 7.30am\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 355,
        "y": 616,
        "wires": [
            []
        ]
    },
    {
        "id": "bc5116da.3d1988",
        "type": "inject",
        "z": "10eab06d.5f8d9",
        "name": "Mon, Wed, Thu, Sat 12 noon",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 12 * * 1,3,4,6",
        "once": false,
        "onceDelay": 0.1,
        "x": 179,
        "y": 1242,
        "wires": [
            [
                "8564e087.ddb4d",
                "1a3cf08e.da69ef",
                "7df3cd26.91dc44"
            ]
        ]
    },
    {
        "id": "8564e087.ddb4d",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "front terrace recycle (on)",
        "server": "449256ad.414748",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_front_terrace_recycled",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 459.5,
        "y": 1242,
        "wires": [
            []
        ]
    },
    {
        "id": "1a3cf08e.da69ef",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"Automation Started\",\"message\":\"front terrace recycle on 12noon\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 430,
        "y": 1306,
        "wires": [
            []
        ]
    },
    {
        "id": "c50ee940.fb92a8",
        "type": "comment",
        "z": "10eab06d.5f8d9",
        "name": "Recycled Front terrace12 noon",
        "info": "",
        "x": 172.5,
        "y": 1192,
        "wires": []
    },
    {
        "id": "7df3cd26.91dc44",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Recycled PUMP (on)",
        "server": "449256ad.414748",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_recycled_pump",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 447,
        "y": 1195,
        "wires": [
            []
        ]
    },
    {
        "id": "538c2b2c.90d344",
        "type": "inject",
        "z": "10eab06d.5f8d9",
        "name": "Tue, Wed, Fri, Sun 1pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 13 * * 2,3,5,0",
        "once": false,
        "onceDelay": 0.1,
        "x": 154,
        "y": 1489,
        "wires": [
            [
                "6c4a9c7.7ad1264",
                "54a4ca04.841fc4",
                "a8fa244c.56dda8"
            ]
        ]
    },
    {
        "id": "6c4a9c7.7ad1264",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Back Yard Garden recycle (on)",
        "server": "449256ad.414748",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_back_yard_recycled",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 474.5,
        "y": 1489,
        "wires": [
            []
        ]
    },
    {
        "id": "54a4ca04.841fc4",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Log Automation",
        "server": "449256ad.414748",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"Automation Started\",\"message\":\"back yard garden recycle on 1pm\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 425,
        "y": 1553,
        "wires": [
            []
        ]
    },
    {
        "id": "d9a14317.a872a",
        "type": "comment",
        "z": "10eab06d.5f8d9",
        "name": "Recycled Back Garden 1pm",
        "info": "",
        "x": 157.5,
        "y": 1439,
        "wires": []
    },
    {
        "id": "a8fa244c.56dda8",
        "type": "api-call-service",
        "z": "10eab06d.5f8d9",
        "name": "Recycled PUMP (on)",
        "server": "449256ad.414748",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.sprinkle_recycled_pump",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 442,
        "y": 1442,
        "wires": [
            []
        ]
    }
]