home-assistant/martin-pl/node-red/flows.json
[
    {
        "id": "9c0f4850.252b38",
        "type": "tab",
        "label": "LED Strip Color",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e57d2000.0ef9",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    },
    {
        "id": "256951b1.e32e9e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c1bc882a.e07708",
        "type": "server-state-changed",
        "z": "9c0f4850.252b38",
        "name": "spotify state",
        "server": "e57d2000.0ef9",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "media_player.spotify_nick",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "6bc43edb.d7578",
                "d53fca5b.41c1c8"
            ]
        ]
    },
    {
        "id": "6bc43edb.d7578",
        "type": "function",
        "z": "9c0f4850.252b38",
        "name": "Get dominent color",
        "func": "const Vibrant = context.global.Vibrant;\n\nconst entityPicturePath = msg.data.new_state.attributes.entity_picture\nconst source = msg.data.new_state.attributes.source\nconst domain = 'http://pi.lan:8123'\n\n\nif (source != \"Samsung TV UA55RU8000WXXY\") {\n    return;\n}\n\nif (msg.payload != \"playing\") {\n    return;\n}\n\nVibrant.from(domain + entityPicturePath)\n    .getPalette()\n    .then((result) => node.send({ \n        payload: {\n            data: {\n                rgb_color:  result.Vibrant.rgb,\n            },\n        },\n    }))\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "1cbb4099.236b57",
                "661579e9.ef26c8"
            ]
        ]
    },
    {
        "id": "1cbb4099.236b57",
        "type": "debug",
        "z": "9c0f4850.252b38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "661579e9.ef26c8",
        "type": "api-call-service",
        "z": "9c0f4850.252b38",
        "name": "",
        "server": "e57d2000.0ef9",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.living_room_led_strip",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d53fca5b.41c1c8",
        "type": "debug",
        "z": "9c0f4850.252b38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 220,
        "wires": []
    }
]