home-assistant/martin-pl/node-red/flows.json
[{"id":"b9d57a0d.086d38","type":"tab","label":"Living Room Lights","disabled":false,"info":""},{"id":"9c0f4850.252b38","type":"tab","label":"LED Strip Color","disabled":false,"info":""},{"id":"e57d2000.0ef9","type":"server","z":"","name":"Home Assistant"},{"id":"256951b1.e32e9e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3757a612.650872","type":"server-state-changed","z":"b9d57a0d.086d38","name":"When TV turns on","server":"e57d2000.0ef9","version":1,"entityidfilter":"media_player.samsung_smart_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":320,"wires":[["42790e19.20a158","3d6ab9aa.b335d6"],[]]},{"id":"626df393.2a2b04","type":"server-state-changed","z":"b9d57a0d.086d38","name":"When TV turns off","server":"e57d2000.0ef9","version":1,"entityidfilter":"media_player.samsung_smart_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":380,"wires":[["b5df7bd.82cfd88"],[]]},{"id":"42790e19.20a158","type":"api-call-service","z":"b9d57a0d.086d38","name":"Turn LED Strip on","server":"e57d2000.0ef9","version":1,"service_domain":"light","service":"turn_on","entityId":"light.living_room_led_strip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":320,"wires":[[]]},{"id":"b5df7bd.82cfd88","type":"api-call-service","z":"b9d57a0d.086d38","name":"Turn LED Strip off","server":"e57d2000.0ef9","version":1,"service_domain":"light","service":"turn_off","entityId":"light.living_room_led_strip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":380,"wires":[[]]},{"id":"e32bdfb6.035898","type":"server-state-changed","z":"b9d57a0d.086d38","name":"When Nick arrives home","server":"e57d2000.0ef9","version":1,"entityidfilter":"person.nick_whyte","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":500,"wires":[["3d6ab9aa.b335d6"]]},{"id":"6b148cbf.abb7dc","type":"server-state-changed","z":"b9d57a0d.086d38","name":"When Kate arrives home","server":"e57d2000.0ef9","version":1,"entityidfilter":"person.kate_scott","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":190,"y":560,"wires":[["3d6ab9aa.b335d6"]]},{"id":"2475aad4.26bc7e","type":"api-call-service","z":"b9d57a0d.086d38","name":"Turn Living Room Lamp on","server":"e57d2000.0ef9","version":1,"service_domain":"light","service":"turn_on","entityId":"light.living_room_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":440,"wires":[[]]},{"id":"3d6ab9aa.b335d6","type":"time-range-switch","z":"b9d57a0d.086d38","name":"","lat":"","lon":"","startTime":"18:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":510,"y":440,"wires":[["2475aad4.26bc7e","d2b7a43c.d4d1f8"],[]]},{"id":"ddb4b8b6.a139c8","type":"api-current-state","z":"b9d57a0d.086d38","name":"Someone At Home","server":"e57d2000.0ef9","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_people","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":660,"wires":[["2475aad4.26bc7e"],[]]},{"id":"d636570.f56e528","type":"server-state-changed","z":"b9d57a0d.086d38","name":"When sun is below horizon","server":"e57d2000.0ef9","version":1,"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":660,"wires":[["ddb4b8b6.a139c8"],[]]},{"id":"1e557a1c.44bfb6","type":"server-state-changed","z":"b9d57a0d.086d38","name":"When everyone leaves home","server":"e57d2000.0ef9","version":1,"entityidfilter":"group.all_people","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":760,"wires":[["c8b98f33.9558b8"],[]]},{"id":"4843e07c.83542","type":"api-call-service","z":"b9d57a0d.086d38","name":"Turn all lights off","server":"e57d2000.0ef9","version":1,"service_domain":"light","service":"turn_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":760,"wires":[[]]},{"id":"d660d4d.52557a8","type":"api-call-service","z":"b9d57a0d.086d38","name":"Turn off TV","server":"e57d2000.0ef9","version":1,"service_domain":"media_player","service":"turn_off","entityId":"media_player.samsung_smart_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":820,"wires":[[]]},{"id":"c8b98f33.9558b8","type":"delay","z":"b9d57a0d.086d38","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":760,"wires":[["4843e07c.83542","d660d4d.52557a8"]]},{"id":"c1bc882a.e07708","type":"server-state-changed","z":"9c0f4850.252b38","name":"spotify state","server":"e57d2000.0ef9","version":1,"entityidfilter":"media_player.spotify","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":150,"y":160,"wires":[["6bc43edb.d7578","d53fca5b.41c1c8"]]},{"id":"6bc43edb.d7578","type":"function","z":"9c0f4850.252b38","name":"Get dominent color","func":"const Vibrant = context.global.Vibrant;\n\nconst entityPicturePath = msg.data.new_state.attributes.entity_picture\nconst source = msg.data.new_state.attributes.source\nconst domain = 'http://pi.lan:8123'\n\nif (msg.payload != \"playing\") {\n    return;\n}\n\nif (source != \"Samsung TV UA55RU8000WXXY\") {\n    return;\n}\n\nVibrant.from(domain + entityPicturePath)\n    .getPalette()\n    .then((result) => node.send({ \n        payload: {\n            data: {\n                rgb_color:  result.Vibrant.rgb,\n            },\n        },\n    }))\n","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["1cbb4099.236b57","661579e9.ef26c8"]]},{"id":"1cbb4099.236b57","type":"debug","z":"9c0f4850.252b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":160,"wires":[]},{"id":"661579e9.ef26c8","type":"api-call-service","z":"9c0f4850.252b38","name":"","server":"e57d2000.0ef9","version":1,"service_domain":"light","service":"turn_on","entityId":"light.living_room_led_strip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":240,"wires":[[]]},{"id":"d53fca5b.41c1c8","type":"debug","z":"9c0f4850.252b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":220,"wires":[]},{"id":"a0e28d70.1e42d8","type":"server-state-changed","z":"b9d57a0d.086d38","name":"When some arrives home","server":"e57d2000.0ef9","version":1,"entityidfilter":"group.all_people","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":820,"wires":[["9d341869.ed1d48"],[]]},{"id":"9d341869.ed1d48","type":"template","z":"b9d57a0d.086d38","name":"reset","field":"reset","fieldType":"msg","format":"text","syntax":"mustache","template":"true","output":"json","x":430,"y":820,"wires":[["c8b98f33.9558b8"]]},{"id":"d2b7a43c.d4d1f8","type":"api-call-service","z":"b9d57a0d.086d38","name":"Turn hallway light on","server":"e57d2000.0ef9","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hallway_downlight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":500,"wires":[[]]}]