node-red/flows.json
[
    {
        "id": "e3920ec8.cf4b3",
        "type": "tab",
        "label": "Garage Door",
        "disabled": false,
        "info": ""
    },
    {
        "id": "50bf183e.dccfb8",
        "type": "tab",
        "label": "Nick's Switches",
        "disabled": false,
        "info": ""
    },
    {
        "id": "562c7339.e576bc",
        "type": "tab",
        "label": "Sprinklers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "25f1e9b0.2f2f06",
        "type": "tab",
        "label": "Blinds",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b7e87350.04a83",
        "type": "tab",
        "label": "Checkin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2ecd8f9e.7058d",
        "type": "tab",
        "label": "Alarm",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5b319a.98d53e8",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open"
    },
    {
        "id": "9fa26dd7.88bcd",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7dbe3d22.ccacd4",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "{\"message\":\"The garage door is open and no one is home\",\"data\":{\"inline_keyboard\":[\"Close Garage:/close-garage\"]}}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1061.5,
        "y": 243,
        "wires": [
            []
        ]
    },
    {
        "id": "c3bf703a.11312",
        "type": "inject",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 161.5,
        "y": 240,
        "wires": [
            [
                "d8baa618.ed6b18",
                "f425a007.1488d"
            ]
        ]
    },
    {
        "id": "bb8a2dba.87ef7",
        "type": "trigger-state",
        "z": "e3920ec8.cf4b3",
        "name": "garage opened",
        "server": "a5b319a.98d53e8",
        "entityid": "cover.garage",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "itp7ufy7k6m",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "open"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 142.5,
        "y": 173,
        "wires": [
            [
                "935b3bb5.413e78"
            ],
            []
        ]
    },
    {
        "id": "935b3bb5.413e78",
        "type": "delay",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 339.5,
        "y": 146,
        "wires": [
            [
                "d8baa618.ed6b18",
                "f425a007.1488d"
            ]
        ]
    },
    {
        "id": "d8baa618.ed6b18",
        "type": "api-current-state",
        "z": "e3920ec8.cf4b3",
        "name": "family home",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "group.family",
        "outputs": 1,
        "x": 510.5,
        "y": 222,
        "wires": [
            [
                "787fc618.2dda78"
            ]
        ]
    },
    {
        "id": "be3d50df.d11f4",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "open & not home?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.'cover.garage' = 'open' and payload.'group.all_devices' = 'not_home'",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 859.5,
        "y": 249,
        "wires": [
            [
                "7dbe3d22.ccacd4"
            ],
            []
        ]
    },
    {
        "id": "f425a007.1488d",
        "type": "api-current-state",
        "z": "e3920ec8.cf4b3",
        "name": "garage state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "cover.garage",
        "outputs": 1,
        "x": 511.5,
        "y": 271,
        "wires": [
            [
                "787fc618.2dda78"
            ]
        ]
    },
    {
        "id": "787fc618.2dda78",
        "type": "join",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 689.5,
        "y": 251,
        "wires": [
            [
                "be3d50df.d11f4",
                "c5ad0b0c.677d68"
            ]
        ]
    },
    {
        "id": "45494b98.c08134",
        "type": "trigger-state",
        "z": "e3920ec8.cf4b3",
        "name": "family state change",
        "server": "a5b319a.98d53e8",
        "entityid": "group.family",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 152,
        "y": 115,
        "wires": [
            [
                "935b3bb5.413e78"
            ],
            []
        ]
    },
    {
        "id": "8e9e324.78648d",
        "type": "trigger-state",
        "z": "50bf183e.dccfb8",
        "name": "Downlights On",
        "server": "a5b319a.98d53e8",
        "entityid": "switch.nicks_downlights_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "vhjhmct8h7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 141.5,
        "y": 161,
        "wires": [
            [
                "ade776bd.972078",
                "864051dc.41f37"
            ],
            []
        ]
    },
    {
        "id": "e8713a3.31496c8",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Bedside (On)",
        "server": "a5b319a.98d53e8",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"light.bedside\" }",
        "mergecontext": "",
        "x": 899.5,
        "y": 63,
        "wires": [
            []
        ]
    },
    {
        "id": "c2e97a35.5dcf98",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Fairy Lights (On)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.nicks_fairy_lights\" }",
        "mergecontext": "",
        "x": 911,
        "y": 102,
        "wires": [
            []
        ]
    },
    {
        "id": "ade776bd.972078",
        "type": "api-current-state",
        "z": "50bf183e.dccfb8",
        "name": "Fairy Lights",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.nicks_fairy_lights",
        "outputs": 1,
        "x": 366.5,
        "y": 137,
        "wires": [
            [
                "444a39.54c5d5c8"
            ]
        ]
    },
    {
        "id": "864051dc.41f37",
        "type": "api-current-state",
        "z": "50bf183e.dccfb8",
        "name": "Bedside",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.bedside",
        "outputs": 1,
        "x": 355,
        "y": 179,
        "wires": [
            [
                "444a39.54c5d5c8"
            ]
        ]
    },
    {
        "id": "444a39.54c5d5c8",
        "type": "join",
        "z": "50bf183e.dccfb8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 535.5,
        "y": 165,
        "wires": [
            [
                "dd79fb29.3e00a8"
            ]
        ]
    },
    {
        "id": "dd79fb29.3e00a8",
        "type": "switch",
        "z": "50bf183e.dccfb8",
        "name": "on?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.'switch.nicks_fairy_lights' = 'off' and payload.'light.bedside' = 'off'",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670.5,
        "y": 166,
        "wires": [
            [
                "e8713a3.31496c8",
                "c2e97a35.5dcf98"
            ],
            [
                "19ddf8a7.95f717",
                "6e9e4a05.c6d4d4"
            ]
        ],
        "outputLabels": [
            "all off",
            "otherwise"
        ]
    },
    {
        "id": "19ddf8a7.95f717",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Bedside (Off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"light.bedside\" }",
        "mergecontext": "",
        "x": 903,
        "y": 227,
        "wires": [
            []
        ]
    },
    {
        "id": "6e9e4a05.c6d4d4",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Fairy Lights (Off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"switch.nicks_fairy_lights\" }",
        "mergecontext": "",
        "x": 914.5,
        "y": 266,
        "wires": [
            []
        ]
    },
    {
        "id": "63ebe245.3f2e3c",
        "type": "inject",
        "z": "e3920ec8.cf4b3",
        "name": "11pm Daily",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 159.5,
        "y": 486,
        "wires": [
            [
                "36aca51.f88dc5a"
            ]
        ]
    },
    {
        "id": "36aca51.f88dc5a",
        "type": "api-current-state",
        "z": "e3920ec8.cf4b3",
        "name": "garage state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "cover.garage",
        "outputs": 1,
        "x": 504,
        "y": 486,
        "wires": [
            [
                "18066f81.6e928"
            ]
        ]
    },
    {
        "id": "c6fcedb6.f35cd",
        "type": "trigger-state",
        "z": "562c7339.e576bc",
        "name": "Sunset",
        "server": "a5b319a.98d53e8",
        "entityid": "sun.sun",
        "debugenabled": false,
        "constraints": [
            {
                "id": "udjqiq5ugya",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "above_horizon"
            },
            {
                "id": "12pg1iei9c8",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "below_horizon"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "x": 127.5,
        "y": 99,
        "wires": [
            [
                "4a23578d.7942d8",
                "aa8852dc.0fc9"
            ],
            []
        ]
    },
    {
        "id": "8c57a8fd.38e228",
        "type": "inject",
        "z": "562c7339.e576bc",
        "name": "Daily at 22:30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 146.5,
        "y": 221,
        "wires": [
            [
                "91ce1f70.029d4",
                "b92a9b33.be0908"
            ]
        ]
    },
    {
        "id": "4a23578d.7942d8",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Tree Lights (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{           \"entity_id\": \"switch.sprinkle_tree_lights\"         }",
        "mergecontext": "",
        "x": 380.5,
        "y": 134,
        "wires": [
            []
        ]
    },
    {
        "id": "91ce1f70.029d4",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Tree Lights (off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{           \"entity_id\": \"switch.sprinkle_tree_lights\"         }",
        "mergecontext": "",
        "x": 383,
        "y": 221,
        "wires": [
            []
        ]
    },
    {
        "id": "bfdd4f08.a32bb",
        "type": "inject",
        "z": "562c7339.e576bc",
        "name": "Daily at 07:30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 132,
        "y": 381,
        "wires": [
            [
                "5c6c2387.39738c",
                "a9f367e2.5da228"
            ]
        ]
    },
    {
        "id": "5c6c2387.39738c",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Back Yard Sprinklers (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.sprinkle_back_yard\"}",
        "mergecontext": "",
        "x": 408.5,
        "y": 381,
        "wires": [
            []
        ]
    },
    {
        "id": "446b0a54.1695a4",
        "type": "inject",
        "z": "562c7339.e576bc",
        "name": "Daily at 7:00",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 133,
        "y": 544,
        "wires": [
            [
                "5fa08b99.040db4",
                "c33c28c.a46d0d8",
                "ad9bc52c.159608"
            ]
        ]
    },
    {
        "id": "5fa08b99.040db4",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Herbs (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.sprinkle_herbs\"}",
        "mergecontext": "",
        "x": 370.5,
        "y": 544,
        "wires": [
            []
        ]
    },
    {
        "id": "c33c28c.a46d0d8",
        "type": "delay",
        "z": "562c7339.e576bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 370.5,
        "y": 600,
        "wires": [
            [
                "d10891a6.d56e4"
            ]
        ]
    },
    {
        "id": "d10891a6.d56e4",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Lavender (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.sprinkle_lavender\"}",
        "mergecontext": "",
        "x": 561,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c3d85923.29bfe8",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Family & Kitch up 6.15am",
        "info": "",
        "x": 170.5,
        "y": 46,
        "wires": []
    },
    {
        "id": "c22e5247.8cc18",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Family & Kitch Part Down 8:30pm",
        "info": "",
        "x": 178,
        "y": 205,
        "wires": []
    },
    {
        "id": "252a75a5.276bba",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Family & Kitch Down all 11pm",
        "info": "",
        "x": 151,
        "y": 369,
        "wires": []
    },
    {
        "id": "be4269c6.94dff8",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Up-Hall Blockout Down 7:00pm",
        "info": "",
        "x": 157.5,
        "y": 676,
        "wires": []
    },
    {
        "id": "d6824fd7.463f6",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Open Nicks Blinds at 8am weekdays",
        "info": "",
        "x": 162.5,
        "y": 813,
        "wires": []
    },
    {
        "id": "a5288667.f7f6a8",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 6:15am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "15 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 152.5,
        "y": 96,
        "wires": [
            [
                "a00a0e18.77987",
                "5054fff2.88504"
            ]
        ]
    },
    {
        "id": "15faf7e1.506d88",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 8:30pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 254,
        "wires": [
            [
                "64df3f98.6fd26",
                "26044a9.8012db6"
            ]
        ]
    },
    {
        "id": "3941aea3.6241c2",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "",
        "mergecontext": "",
        "x": 649,
        "y": 418,
        "wires": [
            []
        ]
    },
    {
        "id": "a7753acf.02d068",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 11:00pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 415,
        "wires": [
            [
                "49e47dd5.96f184",
                "d242ba92.ba8df8"
            ]
        ]
    },
    {
        "id": "5222aeea.afd08",
        "type": "function",
        "z": "25f1e9b0.2f2f06",
        "name": "for-each",
        "func": "msg.payload.forEach(elem => {\n    node.send({\n        payload: {\n            data: {\n                \"entity_id\": elem \n            }\n        }\n    })\n})",
        "outputs": 1,
        "noerr": 0,
        "x": 467.5,
        "y": 418,
        "wires": [
            [
                "3941aea3.6241c2"
            ]
        ]
    },
    {
        "id": "64df3f98.6fd26",
        "type": "template",
        "z": "25f1e9b0.2f2f06",
        "name": "Entities",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[\n    \"cover.blindkit_front_4_right\",\n    \"cover.blindkit_front_2_door_left\",\n    \"cover.blindkit_front_1_left\",\n    \"cover.blindkit_back_left\"\n]",
        "output": "json",
        "x": 327,
        "y": 254,
        "wires": [
            [
                "d731944c.4fdc28"
            ]
        ]
    },
    {
        "id": "49e47dd5.96f184",
        "type": "template",
        "z": "25f1e9b0.2f2f06",
        "name": "Entities",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[\n    \"cover.blindkit_front_4_right\",\n    \"cover.blindkit_front_3_door_right\",\n    \"cover.blindkit_front_2_door_left\",\n    \"cover.blindkit_front_1_left\",\n    \"cover.blindkit_back_right\",\n    \"cover.blindkit_back_left\"\n]",
        "output": "json",
        "x": 323,
        "y": 417,
        "wires": [
            [
                "5222aeea.afd08"
            ]
        ]
    },
    {
        "id": "c5ad0b0c.677d68",
        "type": "debug",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 840.5,
        "y": 307,
        "wires": []
    },
    {
        "id": "58f57586.49402c",
        "type": "comment",
        "z": "e3920ec8.cf4b3",
        "name": "Wait 2min to ensure that family devices connect to wifi",
        "info": "",
        "x": 478.5,
        "y": 98,
        "wires": []
    },
    {
        "id": "13e9775f.2436a9",
        "type": "server-events",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "server": "a5b319a.98d53e8",
        "event_type": "",
        "x": 177.5,
        "y": 672,
        "wires": [
            [
                "c7a542e0.4cc43"
            ]
        ]
    },
    {
        "id": "c7a542e0.4cc43",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "Telegram Callback?",
        "property": "payload.event_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "telegram_callback",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 443.5,
        "y": 672,
        "wires": [
            [
                "f3825fe3.fb58e"
            ]
        ]
    },
    {
        "id": "73914776.f7aa08",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "property": "payload.event.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/close-garage",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 682.5,
        "y": 671,
        "wires": [
            [
                "69c195e.17fef6c"
            ]
        ]
    },
    {
        "id": "ee7fd465.1fec48",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Close Garage",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "{\"entity_id\":\"cover.garage\"}",
        "mergecontext": "",
        "x": 1204.5,
        "y": 664,
        "wires": [
            []
        ]
    },
    {
        "id": "69c195e.17fef6c",
        "type": "api-current-state",
        "z": "e3920ec8.cf4b3",
        "name": "garage state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "cover.garage",
        "outputs": 1,
        "x": 843,
        "y": 671,
        "wires": [
            [
                "a5df32cd.5e376"
            ]
        ]
    },
    {
        "id": "a5df32cd.5e376",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "open?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1013,
        "y": 671,
        "wires": [
            [
                "ee7fd465.1fec48",
                "c668a75e.ce49c8"
            ],
            [
                "ff127a35.19cac8"
            ]
        ]
    },
    {
        "id": "18066f81.6e928",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "open?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 694.5,
        "y": 486,
        "wires": [
            [
                "9b559595.91ef38"
            ]
        ]
    },
    {
        "id": "a00a0e18.77987",
        "type": "template",
        "z": "25f1e9b0.2f2f06",
        "name": "Entities",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[\n    \"cover.blindkit_front_3_door_right\",\n    \"cover.blindkit_front_2_door_left\",\n    \"cover.blindkit_front_1_left\",\n    \"cover.blindkit_back_right\",\n    \"cover.blindkit_back_left\"\n]",
        "output": "json",
        "x": 330.5,
        "y": 96,
        "wires": [
            [
                "f183338b.8c058"
            ]
        ]
    },
    {
        "id": "2e9fc997.5ccc66",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "",
        "mergecontext": "",
        "x": 661,
        "y": 254,
        "wires": [
            []
        ]
    },
    {
        "id": "d731944c.4fdc28",
        "type": "function",
        "z": "25f1e9b0.2f2f06",
        "name": "for-each",
        "func": "msg.payload.forEach(elem => {\n    node.send({\n        payload: {\n            data: {\n                \"entity_id\": elem \n            }\n        }\n    })\n})",
        "outputs": 1,
        "noerr": 0,
        "x": 479.5,
        "y": 254,
        "wires": [
            [
                "2e9fc997.5ccc66"
            ]
        ]
    },
    {
        "id": "bc902c6c.d7302",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "",
        "mergecontext": "",
        "x": 665,
        "y": 96,
        "wires": [
            []
        ]
    },
    {
        "id": "f183338b.8c058",
        "type": "function",
        "z": "25f1e9b0.2f2f06",
        "name": "for-each",
        "func": "msg.payload.forEach(elem => {\n    node.send({\n        payload: {\n            data: {\n                \"entity_id\": elem \n            }\n        }\n    })\n})",
        "outputs": 1,
        "noerr": 0,
        "x": 483.5,
        "y": 96,
        "wires": [
            [
                "bc902c6c.d7302"
            ]
        ]
    },
    {
        "id": "1edc7927.fc7817",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "{ \"entity_id\": \"cover.blindkit_upstairs_hall_blockout\" }",
        "mergecontext": "",
        "x": 645,
        "y": 728,
        "wires": [
            []
        ]
    },
    {
        "id": "6d5a4cd7.e20e14",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 7pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 19 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 137,
        "y": 727,
        "wires": [
            [
                "1edc7927.fc7817",
                "191477c1.b305d8"
            ]
        ]
    },
    {
        "id": "945f03d3.c35cf",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "{\"entity_id\":\"cover.blindkit_nicks_front\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1014,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "d1979b14.89b638",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 10:30am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 10 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 861,
        "wires": [
            [
                "3a26b07.6beea5"
            ]
        ]
    },
    {
        "id": "245249de.f27826",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "{ \"entity_id\": \"cover.blindkit_nicks_side\" }",
        "mergecontext": "",
        "x": 1015,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "c76bec1b.d2d52",
        "type": "inject",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 892.5,
        "y": 186,
        "wires": [
            [
                "7dbe3d22.ccacd4"
            ]
        ]
    },
    {
        "id": "b4868043.8f6c",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "telegram_bot",
        "service": "answer_callback_query",
        "data": "",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1325,
        "y": 599,
        "wires": [
            []
        ]
    },
    {
        "id": "c668a75e.ce49c8",
        "type": "template",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"Closing the door...\",\n        \"callback_query_id\": \"{{ flow.callback_event_id }}\"\n    }\n}",
        "output": "json",
        "x": 1189.5,
        "y": 599,
        "wires": [
            [
                "b4868043.8f6c"
            ]
        ]
    },
    {
        "id": "b841a72d.d6de58",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "telegram_bot",
        "service": "answer_callback_query",
        "data": "",
        "mergecontext": "",
        "x": 1348,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ff127a35.19cac8",
        "type": "template",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"The door is already closed.\",\n        \"callback_query_id\": \"{{ flow.callback_event_id }}\"\n    }\n}",
        "output": "json",
        "x": 1185.5,
        "y": 719,
        "wires": [
            [
                "b841a72d.d6de58"
            ]
        ]
    },
    {
        "id": "f3825fe3.fb58e",
        "type": "change",
        "z": "e3920ec8.cf4b3",
        "name": "set flow.callback_event_id",
        "rules": [
            {
                "t": "set",
                "p": "callback_event_id",
                "pt": "flow",
                "to": "payload.event.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 584.5,
        "y": 612,
        "wires": [
            [
                "73914776.f7aa08"
            ]
        ]
    },
    {
        "id": "9b559595.91ef38",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "{\"message\":\"It is after 11pm and it appears the garage door is still open\",\"data\":{\"inline_keyboard\":[\"Close Garage:/close-garage\"]}}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 884,
        "y": 486,
        "wires": [
            []
        ]
    },
    {
        "id": "83e1d315.52502",
        "type": "inject",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 688,
        "y": 433,
        "wires": [
            [
                "9b559595.91ef38"
            ]
        ]
    },
    {
        "id": "b92a9b33.be0908",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn tree lights off at 22:30\" }",
        "mergecontext": "",
        "x": 382,
        "y": 265,
        "wires": [
            []
        ]
    },
    {
        "id": "aa8852dc.0fc9",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn tree lights on at sunset\" }",
        "mergecontext": "",
        "x": 381,
        "y": 95,
        "wires": [
            []
        ]
    },
    {
        "id": "a9f367e2.5da228",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn on backyard sprinklers at 9am\" }",
        "mergecontext": "",
        "x": 378,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ad9bc52c.159608",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Water herbs & lavender at 10am\" }",
        "mergecontext": "",
        "x": 380,
        "y": 651,
        "wires": [
            []
        ]
    },
    {
        "id": "d242ba92.ba8df8",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Family & Kitch Down all 10pm\" }",
        "mergecontext": "",
        "x": 347,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "26044a9.8012db6",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Family & Kitch Part Down 5:30pm\" }",
        "mergecontext": "",
        "x": 346,
        "y": 299,
        "wires": [
            []
        ]
    },
    {
        "id": "5054fff2.88504",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Family & Kitch up 6.15am\" }",
        "mergecontext": "",
        "x": 351,
        "y": 133,
        "wires": [
            []
        ]
    },
    {
        "id": "191477c1.b305d8",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Up-Hall Blockout Down 5.30pm\" }",
        "mergecontext": "",
        "x": 358,
        "y": 763,
        "wires": [
            []
        ]
    },
    {
        "id": "c1a7b568.e03628",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Open Nicks Blinds at 8am weekdays\" }",
        "mergecontext": "",
        "x": 998,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "7c0abf60.b8986",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Turn tree lights on at sunset",
        "info": "",
        "x": 167.5,
        "y": 52,
        "wires": []
    },
    {
        "id": "8f88db72.ddc928",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Turn tree lights off at 22:30",
        "info": "",
        "x": 156,
        "y": 177,
        "wires": []
    },
    {
        "id": "b693511.7c75ab",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Turn on backyard sprinklers at 7:30am",
        "info": "",
        "x": 189.5,
        "y": 335,
        "wires": []
    },
    {
        "id": "81d1692c.3e0038",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Water herbs & lavender at 7am",
        "info": "",
        "x": 177.5,
        "y": 493,
        "wires": []
    },
    {
        "id": "c42bc641.bb3e68",
        "type": "inject",
        "z": "b7e87350.04a83",
        "name": "Every hour",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 126.5,
        "y": 211,
        "wires": [
            [
                "5fbd87bb.9ddca8"
            ]
        ]
    },
    {
        "id": "5fbd87bb.9ddca8",
        "type": "http request",
        "z": "b7e87350.04a83",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://hc-ping.com/fba5380e-fc82-4a16-b4d4-95470d269a2c",
        "tls": "",
        "x": 367.5,
        "y": 211,
        "wires": [
            []
        ]
    },
    {
        "id": "a6b9d0e2.6180b",
        "type": "inject",
        "z": "b7e87350.04a83",
        "name": "3am Every Day",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 136.5,
        "y": 275,
        "wires": [
            [
                "fd98af35.01ac1",
                "13027f67.63b651"
            ]
        ]
    },
    {
        "id": "fd98af35.01ac1",
        "type": "api-call-service",
        "z": "b7e87350.04a83",
        "name": "Purge History (Keep 10 Days)",
        "server": "a5b319a.98d53e8",
        "service_domain": "recorder",
        "service": "purge",
        "data": "{\"keep_days\": 10, \"repack\": true}",
        "mergecontext": "",
        "x": 419.5,
        "y": 275,
        "wires": [
            []
        ]
    },
    {
        "id": "13027f67.63b651",
        "type": "api-call-service",
        "z": "b7e87350.04a83",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"History purge requested\" }",
        "mergecontext": "",
        "x": 380,
        "y": 318,
        "wires": [
            []
        ]
    },
    {
        "id": "48112af4.521d84",
        "type": "inject",
        "z": "562c7339.e576bc",
        "name": "Daily at 13:00",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 13 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 123,
        "y": 765,
        "wires": [
            [
                "956ba9ab.d9e758"
            ]
        ]
    },
    {
        "id": "2d7de9da.060866",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Water herbs & lavender at 1pm if it is hot",
        "info": "",
        "x": 193,
        "y": 719,
        "wires": []
    },
    {
        "id": "2df5f742.a9d0c8",
        "type": "switch",
        "z": "562c7339.e576bc",
        "name": "> 27ยบ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "29",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760.5,
        "y": 765,
        "wires": [
            [
                "6f55e62b.dff2f8",
                "b90bc789.5d16d8",
                "1b71fa15.c41fb6"
            ]
        ]
    },
    {
        "id": "6f55e62b.dff2f8",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Water herbs & lavender at 3pm when it is hot\" }",
        "mergecontext": "",
        "x": 963,
        "y": 762,
        "wires": [
            []
        ]
    },
    {
        "id": "b90bc789.5d16d8",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Herbs (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.sprinkle_herbs\"}",
        "mergecontext": "",
        "x": 953,
        "y": 816,
        "wires": [
            []
        ]
    },
    {
        "id": "1b71fa15.c41fb6",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "{\"message\":\"It's hot today, so I am giving the herbs some extra water\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 931,
        "y": 870,
        "wires": [
            []
        ]
    },
    {
        "id": "a487978b.41c5d8",
        "type": "trigger-state",
        "z": "2ecd8f9e.7058d",
        "name": "when family home",
        "server": "a5b319a.98d53e8",
        "entityid": "group.family",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "kdbiahpgzms",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home"
            },
            {
                "id": "doraahvr7lm",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 230,
        "y": 125,
        "wires": [
            [
                "d5b714fd.88bc28",
                "58d58116.b7a95"
            ],
            []
        ]
    },
    {
        "id": "4cbf65cd.73b5cc",
        "type": "trigger-state",
        "z": "2ecd8f9e.7058d",
        "name": "when family not home",
        "server": "a5b319a.98d53e8",
        "entityid": "group.family",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ugq0l27ur9q",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "ww21kiffgc",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 238,
        "y": 374,
        "wires": [
            [
                "68b41944.2ac628",
                "cca91799.07387"
            ],
            []
        ]
    },
    {
        "id": "22ecaeb5.bb1a72",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Arm",
        "server": "a5b319a.98d53e8",
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_away",
        "data": "{\"entity_id\":\"alarm_control_panel.alarm_panel\"}",
        "render_data": true,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 889.5,
        "y": 586,
        "wires": [
            []
        ]
    },
    {
        "id": "8a887774.399df8",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Disarm",
        "server": "a5b319a.98d53e8",
        "service_domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "data": "{\"entity_id\":\"alarm_control_panel.alarm_panel\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 949,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6293251c.5751ac",
        "type": "api-current-state",
        "z": "2ecd8f9e.7058d",
        "name": "Get family state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "group.family",
        "state_type": "str",
        "outputs": 1,
        "x": 314.5,
        "y": 536,
        "wires": [
            [
                "fadd29fd.a84f78"
            ]
        ]
    },
    {
        "id": "2cbef5bc.a9b41a",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "{\"message\":\"Someone has arrived home, so I will disarm the alarm.\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 642,
        "y": 125,
        "wires": [
            []
        ]
    },
    {
        "id": "d6ef46e1.8e1a48",
        "type": "comment",
        "z": "2ecd8f9e.7058d",
        "name": "Disarm when someone arrives home",
        "info": "When someone arrives home\nIf the alarm is armed\n- Disarm the alarm\n- Notify",
        "x": 279.5,
        "y": 36,
        "wires": []
    },
    {
        "id": "4a6b5e61.3c24d",
        "type": "comment",
        "z": "2ecd8f9e.7058d",
        "name": "Arm when nobody is home",
        "info": "When no one is home\nWait 10 minutes\nIf\n- No one is home and\n- Alarm is not armed and\n- Not during exclusion period and\n- Manual override is not on\n\nThen\n\n- Arm alarm\n- Notify \n\n",
        "x": 241,
        "y": 274,
        "wires": []
    },
    {
        "id": "956ba9ab.d9e758",
        "type": "api-get-history",
        "z": "562c7339.e576bc",
        "name": "Get Temperature History",
        "server": "a5b319a.98d53e8",
        "startdate": "",
        "enddate": "",
        "entityid": "sensor.bom_sydney_airport_air_temp_c",
        "entityidtype": "is",
        "x": 349.5,
        "y": 765,
        "wires": [
            [
                "cdd22f02.4938d"
            ]
        ]
    },
    {
        "id": "cdd22f02.4938d",
        "type": "function",
        "z": "562c7339.e576bc",
        "name": "Get Max Temperature",
        "func": "return {\n    payload: Math.max(...msg.payload[0].map(v => Number(v.state)))\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 581.5,
        "y": 765,
        "wires": [
            [
                "2df5f742.a9d0c8"
            ]
        ]
    },
    {
        "id": "878efe80.f84e",
        "type": "credentials",
        "z": "2ecd8f9e.7058d",
        "name": "arming code",
        "props": [
            {
                "value": "arming_code",
                "type": "flow"
            }
        ],
        "x": 661,
        "y": 80,
        "wires": [
            [
                "fa3cfadd.705f78"
            ]
        ]
    },
    {
        "id": "16f8538a.56508c",
        "type": "api-current-state",
        "z": "2ecd8f9e.7058d",
        "name": "Get alarm_auto_arm state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "input_boolean.alarm_auto_arm",
        "state_type": "str",
        "outputs": 1,
        "x": 345.5,
        "y": 584,
        "wires": [
            [
                "fadd29fd.a84f78"
            ]
        ]
    },
    {
        "id": "39a40bd1.d09314",
        "type": "api-current-state",
        "z": "2ecd8f9e.7058d",
        "name": "Get alarm state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "outputs": 1,
        "x": 315,
        "y": 489,
        "wires": [
            [
                "fadd29fd.a84f78"
            ]
        ]
    },
    {
        "id": "fadd29fd.a84f78",
        "type": "join",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 545.5,
        "y": 536,
        "wires": [
            [
                "a5ab80d0.7ba89",
                "34dc4a4c.624bd6"
            ]
        ]
    },
    {
        "id": "a1806245.1f074",
        "type": "inject",
        "z": "2ecd8f9e.7058d",
        "name": "Disable Auto-Arm (Cleaner)",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 07 * * 4",
        "once": false,
        "onceDelay": 0.1,
        "x": 259.5,
        "y": 673,
        "wires": [
            [
                "e6f273ff.a5508"
            ]
        ]
    },
    {
        "id": "7ba4651d.a5058c",
        "type": "inject",
        "z": "2ecd8f9e.7058d",
        "name": "Enable Auto-Arm (Cleaner)",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 12 * * 4",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 712,
        "wires": [
            [
                "94cd74da.d7d498"
            ]
        ]
    },
    {
        "id": "94cd74da.d7d498",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "enabled = true",
        "func": "flow.set('enabled', true)\nreturn { payload: true };",
        "outputs": 1,
        "noerr": 0,
        "x": 495.5,
        "y": 712,
        "wires": [
            [
                "ee9f2730.64a608",
                "5594af65.44ca18"
            ]
        ]
    },
    {
        "id": "e6f273ff.a5508",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "enabled = false",
        "func": "flow.set('enabled', false)\nreturn { payload: false }",
        "outputs": 1,
        "noerr": 0,
        "x": 495,
        "y": 673,
        "wires": [
            [
                "79760c2f.e33894",
                "5594af65.44ca18"
            ]
        ]
    },
    {
        "id": "8446df15.f498f",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1175,
        "y": 718,
        "wires": [
            []
        ]
    },
    {
        "id": "d5b714fd.88bc28",
        "type": "api-current-state",
        "z": "2ecd8f9e.7058d",
        "name": "armed?",
        "server": "a5b319a.98d53e8",
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "alarm_control_panel.alarm_panel",
        "state_type": "str",
        "outputs": 2,
        "x": 446,
        "y": 124,
        "wires": [
            [
                "878efe80.f84e",
                "61cd844.84b7bfc",
                "c38b00d.a8bdd"
            ],
            []
        ]
    },
    {
        "id": "79760c2f.e33894",
        "type": "link out",
        "z": "2ecd8f9e.7058d",
        "name": "disarm",
        "links": [
            "9ae9e876.f89ed8"
        ],
        "x": 617,
        "y": 672,
        "wires": []
    },
    {
        "id": "ee9f2730.64a608",
        "type": "link out",
        "z": "2ecd8f9e.7058d",
        "name": "arm",
        "links": [
            "9449eb8e.d7abc8"
        ],
        "x": 617,
        "y": 713,
        "wires": []
    },
    {
        "id": "9449eb8e.d7abc8",
        "type": "link in",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "links": [
            "ee9f2730.64a608",
            "68b41944.2ac628",
            "3d8261d1.514d7e"
        ],
        "x": 144.5,
        "y": 512,
        "wires": [
            [
                "39a40bd1.d09314",
                "6293251c.5751ac",
                "16f8538a.56508c"
            ]
        ]
    },
    {
        "id": "9ae9e876.f89ed8",
        "type": "link in",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "links": [
            "79760c2f.e33894"
        ],
        "x": 306.5,
        "y": 167,
        "wires": [
            [
                "d5b714fd.88bc28"
            ]
        ]
    },
    {
        "id": "68b41944.2ac628",
        "type": "link out",
        "z": "2ecd8f9e.7058d",
        "name": "arm",
        "links": [
            "9449eb8e.d7abc8"
        ],
        "x": 426,
        "y": 372,
        "wires": []
    },
    {
        "id": "4a89a471.4d81dc",
        "type": "inject",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 279.5,
        "y": 331,
        "wires": [
            [
                "68b41944.2ac628"
            ]
        ]
    },
    {
        "id": "a5ab80d0.7ba89",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "Should Arm?",
        "func": "if (msg.payload['group.family'] == 'not_home' && \n        msg.payload['alarm_control_panel.alarm_panel'] == 'disarmed' &&\n        msg.payload['input_boolean.alarm_auto_arm'] == 'on' &&\n        flow.get('enabled')) {\n    return [msg, null]\n}\nreturn [null, msg]",
        "outputs": 2,
        "noerr": 0,
        "x": 697.5,
        "y": 536,
        "wires": [
            [
                "22ecaeb5.bb1a72",
                "7cd70ad6.127424",
                "34dc4a4c.624bd6",
                "6a6b9ac7.14144c"
            ],
            []
        ],
        "outputLabels": [
            "Allowed",
            "Blocked"
        ]
    },
    {
        "id": "631c7f9e.d98cb",
        "type": "trigger-state",
        "z": "562c7339.e576bc",
        "name": "Herbs State Unavailable",
        "server": "a5b319a.98d53e8",
        "entityid": "switch.sprinkle_herbs_trigger",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "68d543ea22u",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unavailable"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 148.5,
        "y": 943,
        "wires": [
            [
                "a0bc54f1.5b4618"
            ],
            []
        ]
    },
    {
        "id": "a70e862f.cd3c48",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "{\"message\":\"The sprinklers are unavailable and probably requires a reboot. No plants will be watered until this occurs.\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 929,
        "y": 942,
        "wires": [
            []
        ]
    },
    {
        "id": "63cd024f.608d3c",
        "type": "trigger-state",
        "z": "562c7339.e576bc",
        "name": "Herbs State Available",
        "server": "a5b319a.98d53e8",
        "entityid": "switch.sprinkle_herbs_trigger",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ch9g6a1ww46",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unavailable"
            },
            {
                "id": "l5jqnndjkh",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unavailable"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 138,
        "y": 996,
        "wires": [
            [
                "423829a1.1839b8"
            ],
            []
        ]
    },
    {
        "id": "f466405e.23c22",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "{\"message\":\"The sprinklers are back online\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 745,
        "y": 1032,
        "wires": [
            []
        ]
    },
    {
        "id": "b54ea42f.55c658",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Notify on sprinkler unavailable",
        "info": "",
        "x": 151,
        "y": 883,
        "wires": []
    },
    {
        "id": "d863dd1e.07bba",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "{\"entity_id\":\"cover.blindkit_master_front_left\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 652,
        "y": 1344,
        "wires": [
            []
        ]
    },
    {
        "id": "904cd7f.ea8a028",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 8am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 144,
        "y": 1343,
        "wires": [
            [
                "d863dd1e.07bba",
                "662d5d6f.2e1e14",
                "5a143152.a79e3"
            ]
        ]
    },
    {
        "id": "662d5d6f.2e1e14",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{\"name\":\"Automation Started\",\"message\":\"Master Bedroom Blinds Up 8am\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 365,
        "y": 1379,
        "wires": [
            []
        ]
    },
    {
        "id": "bbc5c9aa.1d1698",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Open Master Bedroom blinds at 8am",
        "info": "",
        "x": 192,
        "y": 1291,
        "wires": []
    },
    {
        "id": "5a143152.a79e3",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "{\"entity_id\":\"cover.blindkit_master_front_right\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 650,
        "y": 1388,
        "wires": [
            []
        ]
    },
    {
        "id": "775faab.a11c954",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "{\"entity_id\":\"cover.blindkit_master_front_left\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 657,
        "y": 1499,
        "wires": [
            []
        ]
    },
    {
        "id": "a7ffff0b.af6f5",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 9pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 149,
        "y": 1498,
        "wires": [
            [
                "775faab.a11c954",
                "6104a783.bcdfe8",
                "5addecf7.d756b4"
            ]
        ]
    },
    {
        "id": "6104a783.bcdfe8",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{\"name\":\"Automation Started\",\"message\":\"Master Bedroom Blinds Down 9pm\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 370,
        "y": 1534,
        "wires": [
            []
        ]
    },
    {
        "id": "98b919f.d7c94e8",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Close Master Bedroom blinds at 9pm",
        "info": "",
        "x": 197,
        "y": 1446,
        "wires": []
    },
    {
        "id": "5addecf7.d756b4",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "{\"entity_id\":\"cover.blindkit_master_front_right\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 655,
        "y": 1543,
        "wires": [
            []
        ]
    },
    {
        "id": "a0bc54f1.5b4618",
        "type": "delay",
        "z": "562c7339.e576bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 380.5,
        "y": 944,
        "wires": [
            [
                "11577f48.033d51"
            ]
        ]
    },
    {
        "id": "11577f48.033d51",
        "type": "api-current-state",
        "z": "562c7339.e576bc",
        "name": "",
        "server": "a5b319a.98d53e8",
        "halt_if": "unavailable",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.sprinkle_herbs_trigger",
        "state_type": "str",
        "outputs": 2,
        "x": 644.5,
        "y": 947,
        "wires": [
            [
                "a70e862f.cd3c48",
                "47313877.2613d8"
            ],
            []
        ]
    },
    {
        "id": "47313877.2613d8",
        "type": "function",
        "z": "562c7339.e576bc",
        "name": "sprinkle_unavailable_notified = true",
        "func": "flow.set('sprinkle_unavailable_notified', true)",
        "outputs": 1,
        "noerr": 0,
        "x": 1025,
        "y": 994,
        "wires": [
            []
        ]
    },
    {
        "id": "423829a1.1839b8",
        "type": "switch",
        "z": "562c7339.e576bc",
        "name": "sprinkle_unavailable_notified == true",
        "property": "sprinkle_unavailable_notified",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 468.5,
        "y": 995,
        "wires": [
            [
                "f466405e.23c22",
                "c9bcb637.bb5f18"
            ]
        ]
    },
    {
        "id": "c9bcb637.bb5f18",
        "type": "function",
        "z": "562c7339.e576bc",
        "name": "sprinkle_unavailable_notified = false",
        "func": "flow.set('sprinkle_unavailable_notified', false)",
        "outputs": 1,
        "noerr": 0,
        "x": 843,
        "y": 1083,
        "wires": [
            []
        ]
    },
    {
        "id": "fa3cfadd.705f78",
        "type": "template",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"code\": \"{{flow.arming_code}}\"\n    }\n}",
        "output": "json",
        "x": 810,
        "y": 80,
        "wires": [
            [
                "8a887774.399df8"
            ]
        ]
    },
    {
        "id": "4f042ea3.255d2",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Up-Hall Blockout Open 7.30am - Disabled for summer",
        "info": "",
        "x": 230.5,
        "y": 536,
        "wires": []
    },
    {
        "id": "348f5dc.893c1a2",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "{ \"entity_id\": \"cover.blindkit_upstairs_hall_blockout\" }",
        "mergecontext": "",
        "x": 641,
        "y": 586,
        "wires": [
            []
        ]
    },
    {
        "id": "5ec0f0dd.8b6b1",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 07:30am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 143,
        "y": 585,
        "wires": [
            []
        ]
    },
    {
        "id": "1cb67081.6f4f4f",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Up-Hall Blockout Open 7.30am\" }",
        "mergecontext": "",
        "x": 355,
        "y": 616,
        "wires": [
            []
        ]
    },
    {
        "id": "f598e1c7.40a2d",
        "type": "inject",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 259.5,
        "y": 212,
        "wires": [
            [
                "d5b714fd.88bc28"
            ]
        ]
    },
    {
        "id": "b87dcb11.b2caa8",
        "type": "trigger-state",
        "z": "2ecd8f9e.7058d",
        "name": "auto arm enabled",
        "server": "a5b319a.98d53e8",
        "entityid": "input_boolean.alarm_auto_arm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "smoieqe3ms",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "id": "r3bzt276xjf",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 246.5,
        "y": 423,
        "wires": [
            [
                "68b41944.2ac628"
            ],
            []
        ]
    },
    {
        "id": "b16f7c1c.54f37",
        "type": "trigger-state",
        "z": "2ecd8f9e.7058d",
        "name": "auto arm disabled",
        "server": "a5b319a.98d53e8",
        "entityid": "input_boolean.alarm_auto_arm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "dbull5v271s",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "o53cu0b34in",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 231,
        "y": 81,
        "wires": [
            [
                "d5b714fd.88bc28"
            ],
            []
        ]
    },
    {
        "id": "3a26b07.6beea5",
        "type": "api-get-history",
        "z": "25f1e9b0.2f2f06",
        "name": "Nick's Room Blinds",
        "server": "a5b319a.98d53e8",
        "startdate": "",
        "enddate": "",
        "entityid": "cover.blindkit_nicks_",
        "entityidtype": "includes",
        "x": 494,
        "y": 860,
        "wires": [
            [
                "ce9afdd8.be7b9"
            ]
        ]
    },
    {
        "id": "ce9afdd8.be7b9",
        "type": "function",
        "z": "25f1e9b0.2f2f06",
        "name": "Has opened/closed today?",
        "func": "const today = new Date();\n\nconst payload = msg.payload\n    .reduce((acc, el) => {\n        return acc.concat(el)\n    }, [])\n    .filter(s => {\n        const d = new Date(s.last_updated)\n        return sameDay(d, today) && \n            d.getHours() > 4 &&\n            (s.state == 'open' || s.state == 'closed')\n    })\n    \nconst newMsg = Object.assign({}, msg, { payload });\n\nif (payload.length > 0) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"has opened\"});\n    return [newMsg, null];\n} else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"not opened\"});\n    return [null, newMsg];\n}\n    \n\nfunction sameDay(d1, d2) {\n  return d1.getFullYear() === d2.getFullYear() &&\n    d1.getMonth() === d2.getMonth() &&\n    d1.getDate() === d2.getDate();\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 725,
        "y": 861,
        "wires": [
            [],
            [
                "245249de.f27826",
                "945f03d3.c35cf",
                "c1a7b568.e03628",
                "809ae4c0.85c858",
                "18c86f24.205f71"
            ]
        ],
        "outputLabels": [
            "allowed",
            "blocked"
        ]
    },
    {
        "id": "fd6c023a.c76b5",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Open Nicks Blinds when the lights turn on",
        "info": "",
        "x": 182,
        "y": 937,
        "wires": []
    },
    {
        "id": "809ae4c0.85c858",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "switch.nicks_downlights_bed: off",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.nicks_downlights_bed\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1055.5,
        "y": 997,
        "wires": [
            []
        ]
    },
    {
        "id": "18c86f24.205f71",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "switch.nicks_downlights_desk: off",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.nicks_downlights_desk\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1056,
        "y": 1035,
        "wires": [
            []
        ]
    },
    {
        "id": "119ce8d.3cf4e97",
        "type": "trigger-state",
        "z": "2ecd8f9e.7058d",
        "name": "alarm disarmed",
        "server": "a5b319a.98d53e8",
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "lht80qx9zsf",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            },
            {
                "id": "e3xt995fqig",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 195,
        "y": 797,
        "wires": [
            [
                "2252fe5e.efc9e2"
            ],
            []
        ]
    },
    {
        "id": "2252fe5e.efc9e2",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "{\"message\":\"The alarm was disarmed.\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 388,
        "y": 790,
        "wires": [
            []
        ]
    },
    {
        "id": "73ef840c.8514b4",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1223,
        "y": 938,
        "wires": [
            []
        ]
    },
    {
        "id": "b3aa0736.5cf1c",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "Build Telegram message",
        "func": "const photos = msg.payload.map(result => ({\n    file: result.data.filename\n}))\n\nreturn {\n    payload: {\n        data: {\n            message: \"Camera snapshots:\",\n            data: {\n                photo: photos,\n            },\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 940.5,
        "y": 990,
        "wires": [
            [
                "73ef840c.8514b4"
            ]
        ]
    },
    {
        "id": "fad0547e.6ff078",
        "type": "join",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 740.5,
        "y": 990,
        "wires": [
            [
                "b3aa0736.5cf1c"
            ]
        ]
    },
    {
        "id": "4e90912f.2c9bd",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Snapshot",
        "server": "a5b319a.98d53e8",
        "service_domain": "camera",
        "service": "snapshot",
        "data": "{\"entity_id\":\"camera.front_door\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 574,
        "y": 991,
        "wires": [
            [
                "fad0547e.6ff078"
            ]
        ]
    },
    {
        "id": "3b02d7bc.060d1",
        "type": "split",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 989.5,
        "y": 924,
        "wires": [
            [
                "4e90912f.2c9bd"
            ]
        ]
    },
    {
        "id": "bc7db76f.efa6d8",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "Build snapshot payload",
        "func": "const newPayload = msg.payload.map(entity_id => ({ \n    data: {\n        entity_id: `camera.${entity_id}`,\n        filename: `/tmp/homekit/${entity_id}.jpeg`,\n    }\n}));\n\nreturn {\n    payload: newPayload,\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 802.5,
        "y": 925,
        "wires": [
            [
                "3b02d7bc.060d1"
            ]
        ]
    },
    {
        "id": "324b7e11.14daba",
        "type": "template",
        "z": "2ecd8f9e.7058d",
        "name": "cameras",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    \"front_door\",\n    \"garage\",\n    \"back_door\",\n    \"sideway_east\",\n    \"sideway_west\",\n    \"north_side\",\n    \"no_313a\"\n]",
        "output": "json",
        "x": 572.5,
        "y": 925,
        "wires": [
            [
                "bc7db76f.efa6d8"
            ]
        ]
    },
    {
        "id": "40172868.7a5628",
        "type": "trigger-state",
        "z": "2ecd8f9e.7058d",
        "name": "alarm triggered",
        "server": "a5b319a.98d53e8",
        "entityid": "alarm_control_panel.alarm_panel",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "7bnxzy7qo8j",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            },
            {
                "id": "mfe6agf802r",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 194.5,
        "y": 863,
        "wires": [
            [
                "541093c4.3bb394",
                "1f5439b0.baf1be"
            ],
            []
        ]
    },
    {
        "id": "14b88948.16b30f",
        "type": "inject",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 214.5,
        "y": 929,
        "wires": [
            [
                "1f5439b0.baf1be"
            ]
        ]
    },
    {
        "id": "541093c4.3bb394",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "{\"message\":\"The alarm was triggered!\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 393,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "375a2ffd.7af7a8",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram_nick",
        "data": "",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1220,
        "y": 989,
        "wires": [
            []
        ]
    },
    {
        "id": "1f5439b0.baf1be",
        "type": "throttle",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "throttleType": "time",
        "timeLimit": "60",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 391.5,
        "y": 927,
        "wires": [
            [
                "324b7e11.14daba"
            ]
        ]
    },
    {
        "id": "7cd70ad6.127424",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{\"name\":\"Automation Started\",\"message\":\"Auto arm alarm\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 920,
        "y": 488,
        "wires": [
            []
        ]
    },
    {
        "id": "61cd844.84b7bfc",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{\"name\":\"Automation Started\",\"message\":\"Auto disarm alarm\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 672,
        "y": 173,
        "wires": [
            []
        ]
    },
    {
        "id": "34dc4a4c.624bd6",
        "type": "debug",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 861.5,
        "y": 352,
        "wires": []
    },
    {
        "id": "cca91799.07387",
        "type": "debug",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 483,
        "y": 315,
        "wires": []
    },
    {
        "id": "58d58116.b7a95",
        "type": "debug",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 455,
        "y": 190,
        "wires": []
    },
    {
        "id": "6a6b9ac7.14144c",
        "type": "api-get-history",
        "z": "2ecd8f9e.7058d",
        "name": "Device Trackers",
        "server": "a5b319a.98d53e8",
        "startdate": "",
        "enddate": "",
        "entityid": "device_tracker.*",
        "entityidtype": "includes",
        "x": 913,
        "y": 654,
        "wires": [
            [
                "cf6f936f.6a19c"
            ]
        ]
    },
    {
        "id": "cf6f936f.6a19c",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "Who Left Home in last 10 mins",
        "func": "const ENTITY_NAMES = {\n    'device_tracker.nicksiphone': 'Nick',\n    'device_tracker.charlotte_phone': 'Charlotte',\n    'device_tracker.joesiphone': 'Joe',\n    'device_tracker.katesiphone_2': 'Kate',\n    'device_tracker.louises7iphone': 'Louise',\n    'device_tracker.oliversiphone': 'Oliver',\n    'device_tracker.peter_phone': 'Peter',\n}\n\nconst states = msg.payload\n    .reduce((states, acc) => acc.concat(states), [])\n    .filter(s => s.state === 'not_home')\n    .filter(s => within(s.last_updated, 60 * 10))\n    .sort((s1, s2) => cmpDates(s1.last_updated, s2.last_updated))\n    .map(s => ENTITY_NAMES[s.entity_id])\n    .filter(s => !!s);\n\nreturn {\n    payload: states\n}\n\nfunction cmpDates(d1, d2) {\n    return new Date(d1) - new Date(d2);\n}\n\nfunction within(d, seconds) {\n    return new Date(d) > new Date(new Date().getTime() - seconds * 1000);\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1161.5,
        "y": 655,
        "wires": [
            [
                "66705893.c84"
            ]
        ]
    },
    {
        "id": "66705893.c84",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "Build Telegram message",
        "func": "\nfunction getPeople() {\n    if (msg.payload.length === 0) {\n        return \"Someone\";\n    }\n    \n    if (msg.payload.length === 1) {\n        return msg.payload[0];\n    }\n    \n    const [last, ...people] = msg.payload;\n    return `${people.join(', ')} and ${last}`;\n}\n\nconst people = getPeople();\n\nreturn {\n    payload: {\n        data: {\n            message: `${people} just left home, so I will arm the alarm.`,\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 952,
        "y": 719,
        "wires": [
            [
                "8446df15.f498f"
            ]
        ]
    },
    {
        "id": "6cb32c8.9a8dad4",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "Who Arrived Home last minute",
        "func": "const ENTITY_NAMES = {\n    'device_tracker.nicksiphone': 'Nick',\n    'device_tracker.charlotte_phone': 'Charlotte',\n    'device_tracker.joesiphone': 'Joe',\n    'device_tracker.katesiphone_2': 'Kate',\n    'device_tracker.louises7iphone': 'Louise',\n    'device_tracker.oliversiphone': 'Oliver',\n    'device_tracker.peter_phone': 'Peter',\n}\n\nconst states = msg.payload\n    .reduce((states, acc) => acc.concat(states), [])\n    .filter(s => s.state === 'home')\n    .filter(s => within(s.last_updated, 60))\n    .sort((s1, s2) => cmpDates(s1.last_updated, s2.last_updated))\n    .map(s => ENTITY_NAMES[s.entity_id])\n    .filter(s => !!s);\n\nreturn {\n    payload: states\n}\n\nfunction cmpDates(d1, d2) {\n    return new Date(d1) - new Date(d2);\n}\n\nfunction within(d, seconds) {\n    return new Date(d) > new Date(new Date().getTime() - seconds * 1000);\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 939,
        "y": 227,
        "wires": [
            [
                "9a9fde8d.1ac02"
            ]
        ]
    },
    {
        "id": "9a9fde8d.1ac02",
        "type": "function",
        "z": "2ecd8f9e.7058d",
        "name": "Build Telegram message",
        "func": "\nfunction getPeople() {\n    if (msg.payload.length === 0) {\n        return \"Someone\";\n    }\n    \n    if (msg.payload.length === 1) {\n        return msg.payload[0];\n    }\n    \n    const [last, ...people] = msg.payload;\n    return `${people.join(', ')} and ${last}`;\n}\n\nconst people = getPeople();\n\nreturn {\n    payload: {\n        data: {\n            \n            message: `${people} has arrived home, so I will disarm the alarm.`,\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1216,
        "y": 225,
        "wires": [
            [
                "d9f9551c.72c418"
            ]
        ]
    },
    {
        "id": "d9f9551c.72c418",
        "type": "api-call-service",
        "z": "2ecd8f9e.7058d",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "notify",
        "service": "telegram",
        "data": "",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 1414,
        "y": 224,
        "wires": [
            []
        ]
    },
    {
        "id": "c38b00d.a8bdd",
        "type": "api-get-history",
        "z": "2ecd8f9e.7058d",
        "name": "Device Trackers",
        "server": "a5b319a.98d53e8",
        "startdate": "",
        "enddate": "",
        "entityid": "device_tracker.*",
        "entityidtype": "includes",
        "x": 676,
        "y": 224,
        "wires": [
            [
                "6cb32c8.9a8dad4"
            ]
        ]
    },
    {
        "id": "5594af65.44ca18",
        "type": "mqtt out",
        "z": "2ecd8f9e.7058d",
        "name": "",
        "topic": "nodered/alarm/auto-arm",
        "qos": "1",
        "retain": "true",
        "broker": "9fa26dd7.88bcd",
        "x": 711.5,
        "y": 760,
        "wires": []
    },
    {
        "id": "5464d2f9.1844d4",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Bedside (On)",
        "server": "a5b319a.98d53e8",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"light.bedside\" }",
        "mergecontext": "",
        "x": 465,
        "y": 545,
        "wires": [
            []
        ]
    },
    {
        "id": "2aea6435.36ff0c",
        "type": "delay",
        "z": "50bf183e.dccfb8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 436.5,
        "y": 597,
        "wires": [
            [
                "484e2bad.6b6464",
                "c8bb2ff6.eb931",
                "45b326fe.419c68",
                "800904f.ceb76f8"
            ]
        ]
    },
    {
        "id": "484e2bad.6b6464",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Fairy Lights (Off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.nicks_fairy_lights\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 659,
        "y": 589,
        "wires": [
            []
        ]
    },
    {
        "id": "c8bb2ff6.eb931",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Downlights Bed (Off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.nicks_downlights_bed\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 680.5,
        "y": 628,
        "wires": [
            []
        ]
    },
    {
        "id": "45b326fe.419c68",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Downlights Desk (Off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.nicks_downlights_desk\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 681,
        "y": 672,
        "wires": [
            []
        ]
    },
    {
        "id": "800904f.ceb76f8",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Bedside Fade Out",
        "server": "a5b319a.98d53e8",
        "service_domain": "light",
        "service": "lifx_set_state",
        "data": "{\"entity_id\":\"light.bedside\",\"transition\":300,\"power\":false}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 668,
        "y": 719,
        "wires": [
            []
        ]
    },
    {
        "id": "269c30c1.5b9298",
        "type": "delay",
        "z": "50bf183e.dccfb8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 448.5,
        "y": 787,
        "wires": [
            [
                "89262d68.487d98"
            ]
        ]
    },
    {
        "id": "89262d68.487d98",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Electric Blanket (Off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.my_smart_plug\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 657,
        "y": 787,
        "wires": [
            []
        ]
    },
    {
        "id": "ff867183.85d938",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Smart Plug (On)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.my_smart_plug\"}",
        "render_data": false,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 456,
        "y": 493,
        "wires": [
            []
        ]
    },
    {
        "id": "b0290b79.e4ff58",
        "type": "inject",
        "z": "50bf183e.dccfb8",
        "name": "at 6am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 256.5,
        "y": 492,
        "wires": [
            [
                "ff867183.85d938"
            ]
        ]
    },
    {
        "id": "93b2be30.8d3ae",
        "type": "server-events",
        "z": "50bf183e.dccfb8",
        "name": "",
        "server": "a5b319a.98d53e8",
        "event_type": "bedtime_start",
        "x": 217,
        "y": 543,
        "wires": [
            [
                "5464d2f9.1844d4",
                "2aea6435.36ff0c",
                "269c30c1.5b9298",
                "626c1d54.b2bf74"
            ]
        ]
    },
    {
        "id": "626c1d54.b2bf74",
        "type": "debug",
        "z": "50bf183e.dccfb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 269.5,
        "y": 668,
        "wires": []
    }
]