node-red/flows.json
[
    {
        "id": "e3920ec8.cf4b3",
        "type": "tab",
        "label": "Garage Door",
        "disabled": false,
        "info": ""
    },
    {
        "id": "50bf183e.dccfb8",
        "type": "tab",
        "label": "Nick's Switches",
        "disabled": false,
        "info": ""
    },
    {
        "id": "562c7339.e576bc",
        "type": "tab",
        "label": "Sprinklers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "25f1e9b0.2f2f06",
        "type": "tab",
        "label": "Blinds",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b7e87350.04a83",
        "type": "tab",
        "label": "Checkin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5b319a.98d53e8",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": true
    },
    {
        "id": "7dbe3d22.ccacd4",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "telegram_bot",
        "service": "send_message",
        "data": "{   \"message\": \"The garage door is open and no one is home\",   \"inline_keyboard\": [[[\"Close Garage\", \"/close-garage\"]]] }",
        "mergecontext": "",
        "x": 1061.5,
        "y": 243,
        "wires": [
            []
        ]
    },
    {
        "id": "c3bf703a.11312",
        "type": "inject",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 161.5,
        "y": 240,
        "wires": [
            [
                "d8baa618.ed6b18",
                "f425a007.1488d"
            ]
        ]
    },
    {
        "id": "bb8a2dba.87ef7",
        "type": "trigger-state",
        "z": "e3920ec8.cf4b3",
        "name": "garage opened",
        "server": "a5b319a.98d53e8",
        "entityid": "cover.garage",
        "debugenabled": false,
        "constraints": [
            {
                "id": "itp7ufy7k6m",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "open"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 142.5,
        "y": 173,
        "wires": [
            [
                "935b3bb5.413e78"
            ],
            []
        ]
    },
    {
        "id": "935b3bb5.413e78",
        "type": "delay",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 339.5,
        "y": 146,
        "wires": [
            [
                "d8baa618.ed6b18",
                "f425a007.1488d"
            ]
        ]
    },
    {
        "id": "d8baa618.ed6b18",
        "type": "api-current-state",
        "z": "e3920ec8.cf4b3",
        "name": "family home",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "group.family",
        "x": 510.5,
        "y": 222,
        "wires": [
            [
                "787fc618.2dda78"
            ]
        ]
    },
    {
        "id": "be3d50df.d11f4",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "open & not home?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.'cover.garage' = 'open' and payload.'group.all_devices' = 'not_home'",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 859.5,
        "y": 249,
        "wires": [
            [
                "7dbe3d22.ccacd4"
            ],
            []
        ]
    },
    {
        "id": "f425a007.1488d",
        "type": "api-current-state",
        "z": "e3920ec8.cf4b3",
        "name": "garage state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "cover.garage",
        "x": 511.5,
        "y": 271,
        "wires": [
            [
                "787fc618.2dda78"
            ]
        ]
    },
    {
        "id": "787fc618.2dda78",
        "type": "join",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 689.5,
        "y": 251,
        "wires": [
            [
                "be3d50df.d11f4",
                "c5ad0b0c.677d68"
            ]
        ]
    },
    {
        "id": "45494b98.c08134",
        "type": "trigger-state",
        "z": "e3920ec8.cf4b3",
        "name": "family not home",
        "server": "a5b319a.98d53e8",
        "entityid": "group.family",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 142,
        "y": 115,
        "wires": [
            [
                "935b3bb5.413e78"
            ],
            []
        ]
    },
    {
        "id": "8e9e324.78648d",
        "type": "trigger-state",
        "z": "50bf183e.dccfb8",
        "name": "Downlights On",
        "server": "a5b319a.98d53e8",
        "entityid": "switch.nicks_downlights_3",
        "debugenabled": false,
        "constraints": [
            {
                "id": "vhjhmct8h7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 150.5,
        "y": 713,
        "wires": [
            [
                "ade776bd.972078",
                "864051dc.41f37"
            ],
            []
        ]
    },
    {
        "id": "e8713a3.31496c8",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Bedside (On)",
        "server": "a5b319a.98d53e8",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"light.bedside\" }",
        "mergecontext": "",
        "x": 908.5,
        "y": 615,
        "wires": [
            []
        ]
    },
    {
        "id": "c2e97a35.5dcf98",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Fairy Lights (On)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.nicks_fairy_lights\" }",
        "mergecontext": "",
        "x": 920,
        "y": 654,
        "wires": [
            []
        ]
    },
    {
        "id": "ade776bd.972078",
        "type": "api-current-state",
        "z": "50bf183e.dccfb8",
        "name": "Fairy Lights",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.nicks_fairy_lights",
        "x": 375.5,
        "y": 689,
        "wires": [
            [
                "444a39.54c5d5c8"
            ]
        ]
    },
    {
        "id": "864051dc.41f37",
        "type": "api-current-state",
        "z": "50bf183e.dccfb8",
        "name": "Bedside",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.bedside",
        "x": 364,
        "y": 731,
        "wires": [
            [
                "444a39.54c5d5c8"
            ]
        ]
    },
    {
        "id": "444a39.54c5d5c8",
        "type": "join",
        "z": "50bf183e.dccfb8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 544.5,
        "y": 717,
        "wires": [
            [
                "dd79fb29.3e00a8"
            ]
        ]
    },
    {
        "id": "dd79fb29.3e00a8",
        "type": "switch",
        "z": "50bf183e.dccfb8",
        "name": "on?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.'switch.nicks_fairy_lights' = 'off' and payload.'light.bedside' = 'off'",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 679.5,
        "y": 718,
        "wires": [
            [
                "e8713a3.31496c8",
                "c2e97a35.5dcf98"
            ],
            [
                "19ddf8a7.95f717",
                "6e9e4a05.c6d4d4"
            ]
        ],
        "outputLabels": [
            "all off",
            "otherwise"
        ]
    },
    {
        "id": "19ddf8a7.95f717",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Bedside (Off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"light.bedside\" }",
        "mergecontext": "",
        "x": 912,
        "y": 779,
        "wires": [
            []
        ]
    },
    {
        "id": "6e9e4a05.c6d4d4",
        "type": "api-call-service",
        "z": "50bf183e.dccfb8",
        "name": "Nicks Fairy Lights (Off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"switch.nicks_fairy_lights\" }",
        "mergecontext": "",
        "x": 923.5,
        "y": 818,
        "wires": [
            []
        ]
    },
    {
        "id": "63ebe245.3f2e3c",
        "type": "inject",
        "z": "e3920ec8.cf4b3",
        "name": "11pm Daily",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 159.5,
        "y": 486,
        "wires": [
            [
                "36aca51.f88dc5a"
            ]
        ]
    },
    {
        "id": "36aca51.f88dc5a",
        "type": "api-current-state",
        "z": "e3920ec8.cf4b3",
        "name": "garage state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "cover.garage",
        "x": 504,
        "y": 486,
        "wires": [
            [
                "18066f81.6e928"
            ]
        ]
    },
    {
        "id": "c6fcedb6.f35cd",
        "type": "trigger-state",
        "z": "562c7339.e576bc",
        "name": "Sunset",
        "server": "a5b319a.98d53e8",
        "entityid": "sun.sun",
        "debugenabled": true,
        "constraints": [
            {
                "id": "wzm8naqcds",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "below_horizon\t"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 133.5,
        "y": 102,
        "wires": [
            [
                "4a23578d.7942d8",
                "aa8852dc.0fc9"
            ],
            []
        ]
    },
    {
        "id": "8c57a8fd.38e228",
        "type": "inject",
        "z": "562c7339.e576bc",
        "name": "Daily at 22:30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 146.5,
        "y": 221,
        "wires": [
            [
                "91ce1f70.029d4",
                "b92a9b33.be0908"
            ]
        ]
    },
    {
        "id": "4a23578d.7942d8",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Tree Lights (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{           \"entity_id\": \"switch.sprinkle_tree_lights\"         }",
        "mergecontext": "",
        "x": 380.5,
        "y": 134,
        "wires": [
            []
        ]
    },
    {
        "id": "91ce1f70.029d4",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Tree Lights (off)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{           \"entity_id\": \"switch.sprinkle_tree_lights\"         }",
        "mergecontext": "",
        "x": 383,
        "y": 221,
        "wires": [
            []
        ]
    },
    {
        "id": "bfdd4f08.a32bb",
        "type": "inject",
        "z": "562c7339.e576bc",
        "name": "Daily at 09:00",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 09 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 132,
        "y": 381,
        "wires": [
            [
                "5c6c2387.39738c",
                "a9f367e2.5da228"
            ]
        ]
    },
    {
        "id": "5c6c2387.39738c",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Back Yard Sprinklers (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.sprinkle_back_yard\"}",
        "mergecontext": "",
        "x": 408.5,
        "y": 381,
        "wires": [
            []
        ]
    },
    {
        "id": "446b0a54.1695a4",
        "type": "inject",
        "z": "562c7339.e576bc",
        "name": "Daily at 10:00",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 10 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 133,
        "y": 544,
        "wires": [
            [
                "5fa08b99.040db4",
                "c33c28c.a46d0d8",
                "ad9bc52c.159608"
            ]
        ]
    },
    {
        "id": "5fa08b99.040db4",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Herbs (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.sprinkle_herbs\"}",
        "mergecontext": "",
        "x": 370.5,
        "y": 544,
        "wires": [
            []
        ]
    },
    {
        "id": "c33c28c.a46d0d8",
        "type": "delay",
        "z": "562c7339.e576bc",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 370.5,
        "y": 584,
        "wires": [
            [
                "d10891a6.d56e4"
            ]
        ]
    },
    {
        "id": "d10891a6.d56e4",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Lavender (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.sprinkle_lavender\"}",
        "mergecontext": "",
        "x": 561,
        "y": 584,
        "wires": [
            []
        ]
    },
    {
        "id": "c3d85923.29bfe8",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Family & Kitch up 6.15am",
        "info": "",
        "x": 172.5,
        "y": 46,
        "wires": []
    },
    {
        "id": "c22e5247.8cc18",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Family & Kitch Part Down 5:30pm",
        "info": "",
        "x": 184,
        "y": 202,
        "wires": []
    },
    {
        "id": "252a75a5.276bba",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Family & Kitch Down all 10pm",
        "info": "",
        "x": 151,
        "y": 369,
        "wires": []
    },
    {
        "id": "4f042ea3.255d2",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Up-Hall Blockout Open 7.30am",
        "info": "",
        "x": 160.5,
        "y": 536,
        "wires": []
    },
    {
        "id": "be4269c6.94dff8",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Up-Hall Blockout Down 5.30pm",
        "info": "",
        "x": 157.5,
        "y": 663,
        "wires": []
    },
    {
        "id": "d6824fd7.463f6",
        "type": "comment",
        "z": "25f1e9b0.2f2f06",
        "name": "Open Nicks Blinds at 8am weekdays",
        "info": "",
        "x": 162.5,
        "y": 813,
        "wires": []
    },
    {
        "id": "a5288667.f7f6a8",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 6:15am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "15 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 152.5,
        "y": 96,
        "wires": [
            [
                "a00a0e18.77987",
                "5054fff2.88504"
            ]
        ]
    },
    {
        "id": "15faf7e1.506d88",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 5:30pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 254,
        "wires": [
            [
                "64df3f98.6fd26",
                "26044a9.8012db6"
            ]
        ]
    },
    {
        "id": "3941aea3.6241c2",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "",
        "mergecontext": "",
        "x": 649,
        "y": 418,
        "wires": [
            []
        ]
    },
    {
        "id": "a7753acf.02d068",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 10:00pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 415,
        "wires": [
            [
                "49e47dd5.96f184",
                "d242ba92.ba8df8"
            ]
        ]
    },
    {
        "id": "5222aeea.afd08",
        "type": "function",
        "z": "25f1e9b0.2f2f06",
        "name": "for-each",
        "func": "msg.payload.forEach(elem => {\n    node.send({\n        payload: {\n            data: {\n                \"entity_id\": elem \n            }\n        }\n    })\n})",
        "outputs": 1,
        "noerr": 0,
        "x": 467.5,
        "y": 418,
        "wires": [
            [
                "3941aea3.6241c2"
            ]
        ]
    },
    {
        "id": "64df3f98.6fd26",
        "type": "template",
        "z": "25f1e9b0.2f2f06",
        "name": "Entities",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[\n    \"cover.blindkit_front_4_right\",\n    \"cover.blindkit_front_2_door_left\",\n    \"cover.blindkit_front_1_left\",\n    \"cover.blindkit_back_left\"\n]",
        "output": "json",
        "x": 327,
        "y": 254,
        "wires": [
            [
                "d731944c.4fdc28"
            ]
        ]
    },
    {
        "id": "49e47dd5.96f184",
        "type": "template",
        "z": "25f1e9b0.2f2f06",
        "name": "Entities",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[\n    \"cover.blindkit_front_4_right\",\n    \"cover.blindkit_front_3_door_right\",\n    \"cover.blindkit_front_2_door_left\",\n    \"cover.blindkit_front_1_left\",\n    \"cover.blindkit_back_right\",\n    \"cover.blindkit_back_left\"\n]",
        "output": "json",
        "x": 323,
        "y": 417,
        "wires": [
            [
                "5222aeea.afd08"
            ]
        ]
    },
    {
        "id": "c5ad0b0c.677d68",
        "type": "debug",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 840.5,
        "y": 307,
        "wires": []
    },
    {
        "id": "58f57586.49402c",
        "type": "comment",
        "z": "e3920ec8.cf4b3",
        "name": "Wait 2min to ensure that family devices connect to wifi",
        "info": "",
        "x": 478.5,
        "y": 98,
        "wires": []
    },
    {
        "id": "13e9775f.2436a9",
        "type": "server-events",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "server": "a5b319a.98d53e8",
        "event_type": "",
        "x": 177.5,
        "y": 672,
        "wires": [
            [
                "c7a542e0.4cc43"
            ]
        ]
    },
    {
        "id": "c7a542e0.4cc43",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "Telegram Callback?",
        "property": "payload.event_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "telegram_callback",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 443.5,
        "y": 672,
        "wires": [
            [
                "f3825fe3.fb58e"
            ]
        ]
    },
    {
        "id": "73914776.f7aa08",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "property": "payload.event.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/close-garage",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 682.5,
        "y": 671,
        "wires": [
            [
                "69c195e.17fef6c"
            ]
        ]
    },
    {
        "id": "ee7fd465.1fec48",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Close Garage",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "{\"entity_id\":\"cover.garage\"}",
        "mergecontext": "",
        "x": 1204.5,
        "y": 664,
        "wires": [
            []
        ]
    },
    {
        "id": "69c195e.17fef6c",
        "type": "api-current-state",
        "z": "e3920ec8.cf4b3",
        "name": "garage state",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "cover.garage",
        "x": 843,
        "y": 671,
        "wires": [
            [
                "a5df32cd.5e376"
            ]
        ]
    },
    {
        "id": "a5df32cd.5e376",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "open?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1013,
        "y": 671,
        "wires": [
            [
                "ee7fd465.1fec48",
                "c668a75e.ce49c8"
            ],
            [
                "ff127a35.19cac8"
            ]
        ]
    },
    {
        "id": "18066f81.6e928",
        "type": "switch",
        "z": "e3920ec8.cf4b3",
        "name": "open?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 694.5,
        "y": 486,
        "wires": [
            [
                "9b559595.91ef38"
            ]
        ]
    },
    {
        "id": "a00a0e18.77987",
        "type": "template",
        "z": "25f1e9b0.2f2f06",
        "name": "Entities",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[\n    \"cover.blindkit_front_3_door_right\",\n    \"cover.blindkit_front_2_door_left\",\n    \"cover.blindkit_front_1_left\",\n    \"cover.blindkit_back_right\",\n    \"cover.blindkit_back_left\"\n]",
        "output": "json",
        "x": 330.5,
        "y": 96,
        "wires": [
            [
                "f183338b.8c058"
            ]
        ]
    },
    {
        "id": "2e9fc997.5ccc66",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "",
        "mergecontext": "",
        "x": 661,
        "y": 254,
        "wires": [
            []
        ]
    },
    {
        "id": "d731944c.4fdc28",
        "type": "function",
        "z": "25f1e9b0.2f2f06",
        "name": "for-each",
        "func": "msg.payload.forEach(elem => {\n    node.send({\n        payload: {\n            data: {\n                \"entity_id\": elem \n            }\n        }\n    })\n})",
        "outputs": 1,
        "noerr": 0,
        "x": 479.5,
        "y": 254,
        "wires": [
            [
                "2e9fc997.5ccc66"
            ]
        ]
    },
    {
        "id": "bc902c6c.d7302",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "",
        "mergecontext": "",
        "x": 665,
        "y": 96,
        "wires": [
            []
        ]
    },
    {
        "id": "f183338b.8c058",
        "type": "function",
        "z": "25f1e9b0.2f2f06",
        "name": "for-each",
        "func": "msg.payload.forEach(elem => {\n    node.send({\n        payload: {\n            data: {\n                \"entity_id\": elem \n            }\n        }\n    })\n})",
        "outputs": 1,
        "noerr": 0,
        "x": 483.5,
        "y": 96,
        "wires": [
            [
                "bc902c6c.d7302"
            ]
        ]
    },
    {
        "id": "348f5dc.893c1a2",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "{ \"entity_id\": \"cover.blindkit_upstairs_hall_blockout\" }",
        "mergecontext": "",
        "x": 641,
        "y": 586,
        "wires": [
            []
        ]
    },
    {
        "id": "5ec0f0dd.8b6b1",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 07:30am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 143,
        "y": 585,
        "wires": [
            [
                "348f5dc.893c1a2",
                "1cb67081.6f4f4f"
            ]
        ]
    },
    {
        "id": "1edc7927.fc7817",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "close_cover",
        "data": "{ \"entity_id\": \"cover.blindkit_upstairs_hall_blockout\" }",
        "mergecontext": "",
        "x": 645,
        "y": 728,
        "wires": [
            []
        ]
    },
    {
        "id": "6d5a4cd7.e20e14",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 5:30pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 727,
        "wires": [
            [
                "1edc7927.fc7817",
                "191477c1.b305d8"
            ]
        ]
    },
    {
        "id": "945f03d3.c35cf",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "{ \"entity_id\": \"cover.blindkit_nicks_front\" }",
        "mergecontext": "",
        "x": 645,
        "y": 862,
        "wires": [
            []
        ]
    },
    {
        "id": "d1979b14.89b638",
        "type": "inject",
        "z": "25f1e9b0.2f2f06",
        "name": "Daily at 8:00am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 08 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 861,
        "wires": [
            [
                "945f03d3.c35cf",
                "245249de.f27826",
                "c1a7b568.e03628"
            ]
        ]
    },
    {
        "id": "245249de.f27826",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "",
        "server": "a5b319a.98d53e8",
        "service_domain": "cover",
        "service": "open_cover",
        "data": "{ \"entity_id\": \"cover.blindkit_nicks_side\" }",
        "mergecontext": "",
        "x": 646,
        "y": 902,
        "wires": [
            []
        ]
    },
    {
        "id": "c76bec1b.d2d52",
        "type": "inject",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 892.5,
        "y": 186,
        "wires": [
            [
                "7dbe3d22.ccacd4"
            ]
        ]
    },
    {
        "id": "b4868043.8f6c",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "telegram_bot",
        "service": "answer_callback_query",
        "data": "",
        "mergecontext": "",
        "x": 1325,
        "y": 599,
        "wires": [
            []
        ]
    },
    {
        "id": "c668a75e.ce49c8",
        "type": "template",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"Closing the door...\",\n        \"callback_query_id\": \"{{ flow.callback_event_id }}\"\n    }\n}",
        "output": "json",
        "x": 1189.5,
        "y": 599,
        "wires": [
            [
                "b4868043.8f6c"
            ]
        ]
    },
    {
        "id": "b841a72d.d6de58",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "telegram_bot",
        "service": "answer_callback_query",
        "data": "",
        "mergecontext": "",
        "x": 1348,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ff127a35.19cac8",
        "type": "template",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"The door is already closed.\",\n        \"callback_query_id\": \"{{ flow.callback_event_id }}\"\n    }\n}",
        "output": "json",
        "x": 1185.5,
        "y": 719,
        "wires": [
            [
                "b841a72d.d6de58"
            ]
        ]
    },
    {
        "id": "f3825fe3.fb58e",
        "type": "change",
        "z": "e3920ec8.cf4b3",
        "name": "set flow.callback_event_id",
        "rules": [
            {
                "t": "set",
                "p": "callback_event_id",
                "pt": "flow",
                "to": "payload.event.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 584.5,
        "y": 612,
        "wires": [
            [
                "73914776.f7aa08"
            ]
        ]
    },
    {
        "id": "9b559595.91ef38",
        "type": "api-call-service",
        "z": "e3920ec8.cf4b3",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "telegram_bot",
        "service": "send_message",
        "data": "{   \"message\": \"It is after 11pm and it appears the garage door is still open\",   \"inline_keyboard\": [[[\"Close Garage\", \"/close-garage\"]]] }",
        "mergecontext": "",
        "x": 884,
        "y": 486,
        "wires": [
            []
        ]
    },
    {
        "id": "83e1d315.52502",
        "type": "inject",
        "z": "e3920ec8.cf4b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 688,
        "y": 433,
        "wires": [
            [
                "9b559595.91ef38"
            ]
        ]
    },
    {
        "id": "b92a9b33.be0908",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn tree lights off at 22:30\" }",
        "mergecontext": "",
        "x": 382,
        "y": 265,
        "wires": [
            []
        ]
    },
    {
        "id": "aa8852dc.0fc9",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn tree lights on at sunset\" }",
        "mergecontext": "",
        "x": 381,
        "y": 95,
        "wires": [
            []
        ]
    },
    {
        "id": "a9f367e2.5da228",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Turn on backyard sprinklers at 9am\" }",
        "mergecontext": "",
        "x": 378,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ad9bc52c.159608",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Water herbs & lavender at 10am\" }",
        "mergecontext": "",
        "x": 380,
        "y": 635,
        "wires": [
            []
        ]
    },
    {
        "id": "d242ba92.ba8df8",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Family & Kitch Down all 10pm\" }",
        "mergecontext": "",
        "x": 347,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "26044a9.8012db6",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Family & Kitch Part Down 5:30pm\" }",
        "mergecontext": "",
        "x": 346,
        "y": 299,
        "wires": [
            []
        ]
    },
    {
        "id": "5054fff2.88504",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Family & Kitch up 6.15am\" }",
        "mergecontext": "",
        "x": 351,
        "y": 133,
        "wires": [
            []
        ]
    },
    {
        "id": "1cb67081.6f4f4f",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Up-Hall Blockout Open 7.30am\" }",
        "mergecontext": "",
        "x": 355,
        "y": 616,
        "wires": [
            []
        ]
    },
    {
        "id": "191477c1.b305d8",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Up-Hall Blockout Down 5.30pm\" }",
        "mergecontext": "",
        "x": 358,
        "y": 763,
        "wires": [
            []
        ]
    },
    {
        "id": "c1a7b568.e03628",
        "type": "api-call-service",
        "z": "25f1e9b0.2f2f06",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Open Nicks Blinds at 8am weekdays\" }",
        "mergecontext": "",
        "x": 358,
        "y": 922,
        "wires": [
            []
        ]
    },
    {
        "id": "7c0abf60.b8986",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Turn tree lights on at sunset",
        "info": "",
        "x": 167.5,
        "y": 52,
        "wires": []
    },
    {
        "id": "8f88db72.ddc928",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Turn tree lights off at 22:30",
        "info": "",
        "x": 156,
        "y": 177,
        "wires": []
    },
    {
        "id": "b693511.7c75ab",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Turn on backyard sprinklers at 9am",
        "info": "",
        "x": 179.5,
        "y": 335,
        "wires": []
    },
    {
        "id": "81d1692c.3e0038",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Water herbs & lavender at 10am",
        "info": "",
        "x": 157.5,
        "y": 493,
        "wires": []
    },
    {
        "id": "c42bc641.bb3e68",
        "type": "inject",
        "z": "b7e87350.04a83",
        "name": "Every hour",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 126.5,
        "y": 211,
        "wires": [
            [
                "5fbd87bb.9ddca8"
            ]
        ]
    },
    {
        "id": "5fbd87bb.9ddca8",
        "type": "http request",
        "z": "b7e87350.04a83",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://hc-ping.com/fba5380e-fc82-4a16-b4d4-95470d269a2c",
        "tls": "",
        "x": 367.5,
        "y": 211,
        "wires": [
            []
        ]
    },
    {
        "id": "a6b9d0e2.6180b",
        "type": "inject",
        "z": "b7e87350.04a83",
        "name": "3am Every Day",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 136.5,
        "y": 275,
        "wires": [
            [
                "fd98af35.01ac1",
                "13027f67.63b651"
            ]
        ]
    },
    {
        "id": "fd98af35.01ac1",
        "type": "api-call-service",
        "z": "b7e87350.04a83",
        "name": "Purge History (Keep 10 Days)",
        "server": "a5b319a.98d53e8",
        "service_domain": "recorder",
        "service": "purge",
        "data": "{\"keep_days\": 10, \"repack\": true}",
        "mergecontext": "",
        "x": 419.5,
        "y": 275,
        "wires": [
            []
        ]
    },
    {
        "id": "13027f67.63b651",
        "type": "api-call-service",
        "z": "b7e87350.04a83",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"History purge requested\" }",
        "mergecontext": "",
        "x": 380,
        "y": 318,
        "wires": [
            []
        ]
    },
    {
        "id": "36470df7.a2a892",
        "type": "api-current-state",
        "z": "562c7339.e576bc",
        "name": "Current Temperature",
        "server": "a5b319a.98d53e8",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "sensor.bom_sydney_airport_air_temp_c",
        "x": 265.5,
        "y": 822,
        "wires": [
            [
                "d10a9d3a.2eded"
            ]
        ]
    },
    {
        "id": "48112af4.521d84",
        "type": "inject",
        "z": "562c7339.e576bc",
        "name": "Daily at 15:00",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 123,
        "y": 765,
        "wires": [
            [
                "36470df7.a2a892"
            ]
        ]
    },
    {
        "id": "2d7de9da.060866",
        "type": "comment",
        "z": "562c7339.e576bc",
        "name": "Water herbs & lavender at 3pm if it is hot",
        "info": "",
        "x": 193,
        "y": 719,
        "wires": []
    },
    {
        "id": "2df5f742.a9d0c8",
        "type": "switch",
        "z": "562c7339.e576bc",
        "name": "> 27ยบ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "27",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 213.5,
        "y": 912,
        "wires": [
            [
                "6f55e62b.dff2f8",
                "b90bc789.5d16d8",
                "1b71fa15.c41fb6"
            ]
        ]
    },
    {
        "id": "d10a9d3a.2eded",
        "type": "function",
        "z": "562c7339.e576bc",
        "name": "parseInt",
        "func": "return {\n    payload: Number(msg.payload)\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 224.5,
        "y": 869,
        "wires": [
            [
                "2df5f742.a9d0c8"
            ]
        ]
    },
    {
        "id": "6f55e62b.dff2f8",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Log Automation",
        "server": "a5b319a.98d53e8",
        "service_domain": "logbook",
        "service": "log",
        "data": "{ \"name\": \"Automation Started\", \"message\": \"Water herbs & lavender at 3pm when it is hot\" }",
        "mergecontext": "",
        "x": 293,
        "y": 971,
        "wires": [
            []
        ]
    },
    {
        "id": "b90bc789.5d16d8",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Herbs (on)",
        "server": "a5b319a.98d53e8",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.sprinkle_herbs\"}",
        "mergecontext": "",
        "x": 284,
        "y": 1009,
        "wires": [
            []
        ]
    },
    {
        "id": "1b71fa15.c41fb6",
        "type": "api-call-service",
        "z": "562c7339.e576bc",
        "name": "Notify",
        "server": "a5b319a.98d53e8",
        "service_domain": "telegram_bot",
        "service": "send_message",
        "data": "{\"message\": \"It's hot today, so I am giving the herbs some extra water\"}",
        "mergecontext": "",
        "x": 265,
        "y": 1047,
        "wires": [
            []
        ]
    }
]